In [23]:
!pip install selenium

Requirement already satisfied: selenium in c:\programdata\anaconda3\lib\site-packages (4.1.2)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\programdata\anaconda3\lib\site-packages (from selenium) (1.26.4)
Requirement already satisfied: trio~=0.17 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\programdata\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: attrs>=19.2.0 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (20.3.0)
Requirement already satisfied: sortedcontainers in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.3.0)
Requirement already satisfied: async-generator>=1.9 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: sniffio in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\programdata\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.5)
Requirement already satisfied: pycparser in c:\programdata\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\programdata\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.7)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (20.0.1)
Requirement already satisfied: certifi in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2020.12.5)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\programdata\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: six>=1.5.2 in c:\programdata\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.15.0)

In [24]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

Requirement already satisfied: h11<1,>=0.9.0 in c:\programdata\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)

In [25]:
driver = webdriver.Chrome('chromedriver.exe')

In [26]:
url = 'https://www.naukri.com/'
driver.get(url)

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [27]:
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [28]:
search_job.send_keys("Data Analyst")

In [29]:
search_Loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_Loc

In [30]:
search_Loc.send_keys("Bangalore")

In [31]:
search_Button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_Button

In [302]:
search_Button.click()

In [303]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [304]:
jobTitles=[]
for i in title_tags:
     jobTitles.append(i.text)
        
jobTitles[0:10]

['software developer & Testing / Business Analyst/Data Analyst/Python.',
 'Staff Business Data Analyst - FDP',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Looking For Data Analyst',
 'Data Analyst || Advance Excel || D Limit || Concatenate',
 'Data Analyst (Python, SQL, Excel)',
 'Data Analyst',
 'Data Analyst For Text / Sentiment Analysis']

In [305]:
CompanyNames = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(CompanyNames)
CompanyNames[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="cfad45f9-d1d1-44a3-8e68-13be8d5d159f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="e14f27b5-38f4-4c38-83dd-8d098ec4225c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="53587528-f7c0-41dc-992e-7bd8b55b052c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="319a2a6c-1e7d-45bb-adb4-333a1855b26b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="9ebe43f7-7275-4910-8f6e-c95ea85608b5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="eab92477-7943-4b0c-a547-50aaedde7e93")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="202b4999-b72d-4f84-983f-ae91cf6384cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="4a8fc395-270a-441a-8526-ec0d1fc357b2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="be4ae4a1-4208-44bb-8e83-eba641a25903")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="9dafe8da-a87c-4445-a7e2-2ffe553ebb28")>]

In [306]:
CompanyTitles=[]
for i in CompanyNames:
     CompanyTitles.append(i.text)
        
CompanyTitles[0:10]

['SECRET TECHNOLOGIES INDIA VMS GROUP',
 'Intuit Inc.',
 'K12 Techno Services Pvt Ltd',
 'Mobile Premier League',
 'Flipkart',
 'Trellance',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Flipkart',
 'Flipkart',
 'FUTURLYTIC PRIVATE LIMITED']

In [319]:
ExperienceTitle = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(ExperienceTitle)
ExperienceTitle[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="92f9e761-4a3d-4d40-896e-3598a4f37be7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="c57072cb-4bd4-4a81-a37c-638ba580dbe4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="14ecbae9-4081-480c-809a-43c9d44f75aa")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="4d8e5f95-0ec9-4c19-8b70-c97f192bc0a5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="f97915a5-938b-4ac4-adc6-6054f40739d7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="48f0e6f4-04de-4ec6-b68b-2db3784e1a00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="fac9c6c1-2149-4c1c-b7c8-9ec0e10c902a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="b4624ca4-7e9c-4c09-ac5e-b5efffd9dd36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="f8b291bb-eeb4-476b-95a1-cc44bca4f382")>,
 <selenium.webdriver.remote.webelement.WebElement (session="13726a825e6b2ee5bf2cbfd11cb4d882", element="93d5b7ce-21a8-4482-ae0b-e6eecd557bdc")>]

In [322]:
Experience=[]
for i in ExperienceTitle:
    Experience.append(i.text)
        
Experience

['0-4 Yrs',
 '5-7 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '0-2 Yrs',
 '2-4 Yrs',
 '1-2 Yrs',
 '0-1 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '5-8 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '2-7 Yrs',
 '2-7 Yrs',
 '2-5 Yrs',
 '2-7 Yrs',
 '1-4 Yrs']

In [331]:
import pandas as pd
df= pd.DataFrame({"Job Title":jobTitles,"Company Name":CompanyTitles,"Location":"Bangalore","Exp":Experience + [0]})
df

,Job Title,Company Name,Location,Exp
0,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,Bangalore,0-4 Yrs
1,Staff Business Data Analyst - FDP,Intuit Inc.,Bangalore,5-7 Yrs
2,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore,4-9 Yrs
3,Senior Data Analyst,Mobile Premier League,Bangalore,3-6 Yrs
4,Senior Data Analyst,Flipkart,Bangalore,3-6 Yrs
5,Looking For Data Analyst,Trellance,Bangalore,0-2 Yrs
6,Data Analyst || Advance Excel || D Limit || Co...,Inspiration Manpower Consultancy Pvt. Ltd.,Bangalore,2-4 Yrs
7,"Data Analyst (Python, SQL, Excel)",Flipkart,Bangalore,1-2 Yrs
8,Data Analyst,Flipkart,Bangalore,0-1 Yrs
9,Data Analyst For Text / Sentiment Analysis,FUTURLYTIC PRIVATE LIMITED,Bangalore,3-7 Yrs
10,Senior Data Analyst,Flipkart,Bangalore,1-3 Yrs
11,Data Analyst,Capillary Technologies,Bangalore,5-8 Yrs
12,Senior Data Analyst,Liventus,Bangalore,1-6 Yrs
13,Senior Data Analyst (Digital Services Analytics),Dell,Bangalore,3-8 Yrs
14,Tcs Hiring For Data Analyst / Data Engineer,TCS,Bangalore,2-7 Yrs
15,Data Analyst / Data Source Engineer - SOQL/SOSL,Talent Placers,Bangalore,2-7 Yrs
16,Data Analyst,Kenko,Bangalore,2-5 Yrs
17,Data Analyst,SUGAR.FIT,Bangalore,2-7 Yrs
18,Hiring For a Data Analyst with Permanent Oppor...,NTT Data Business Solutions Pvt Ltd,Bangalore,1-4 Yrs
19,Data Analyst,Yulu Bikes,Bangalore,0

In [333]:
resulutDF=df.head(10)

In [334]:
resulutDF

,Job Title,Company Name,Location,Exp
0,software developer & Testing / Business Analys...,SECRET TECHNOLOGIES INDIA VMS GROUP,Bangalore,0-4 Yrs
1,Staff Business Data Analyst - FDP,Intuit Inc.,Bangalore,5-7 Yrs
2,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,K12 Techno Services Pvt Ltd,Bangalore,4-9 Yrs
3,Senior Data Analyst,Mobile Premier League,Bangalore,3-6 Yrs
4,Senior Data Analyst,Flipkart,Bangalore,3-6 Yrs
5,Looking For Data Analyst,Trellance,Bangalore,0-2 Yrs
6,Data Analyst || Advance Excel || D Limit || Co...,Inspiration Manpower Consultancy Pvt. Ltd.,Bangalore,2-4 Yrs
7,"Data Analyst (Python, SQL, Excel)",Flipkart,Bangalore,1-2 Yrs
8,Data Analyst,Flipkart,Bangalore,0-1 Yrs
9,Data Analyst For Text / Sentiment Analysis,FUTURLYTIC PRIVATE LIMITED,Bangalore,3-7 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

In [346]:
driver = webdriver.Chrome('chromedriver.exe')

In [347]:
url = 'https://www.naukri.com/'
driver.get(url)

In [348]:
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [349]:
search_job.send_keys("Data Scientist")

In [350]:
search_Loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_Loc

In [352]:
search_Loc.send_keys("Bangalore")

In [353]:
search_Button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_Button

In [354]:
search_Button.click()

In [355]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [356]:
jobTitles=[]
for i in title_tags:
     jobTitles.append(i.text)
        
jobTitles[0:10]

['Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Data Scientist',
 'Staff Data Scientist, Personalization',
 'Data Scientist II- Merchandise & Discovery',
 'Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist']

In [357]:
CompanyNames = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(CompanyNames)
CompanyNames[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="5731353b-934f-4854-9e72-d5428a526a74")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="dc67177d-6f39-43c7-ba1f-c4994f0d23b0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="15bef8a5-7a9c-4a5e-a2c6-74c1c59ced82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="f9d1d4c8-cd3c-4e32-a7e8-f67e42925f5e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="9bb2e776-ac66-4d54-a88b-faa12ebb6c97")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="ea85bf01-6d3f-4b05-9192-caee04a24a05")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="e39a3049-c858-4902-a198-e1ee647b569f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="8e575949-f459-4cf0-8777-c4b5275caf61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="4bd12e53-4e49-4968-bdcd-d54534457029")>,
 <selenium.webdriver.remote.webelement.WebElement (session="3cd1309b695065754fb743c51ea30ad6", element="1442eaf4-b447-4f37-8e89-4b739b6c91fa")>]

In [57]:
CompanyTitles=[]
for i in CompanyNames:
     CompanyTitles.append(i.text)
        
CompanyTitles[0:10]

NameError: name 'CompanyNames' is not defined

In [58]:
ExperienceTitle = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(ExperienceTitle)
ExperienceTitle[0:10]

[]

In [361]:
Experience=[]
for i in ExperienceTitle:
    Experience.append(i.text)
        
Experience

['4-9 Yrs',
 '3-8 Yrs',
 '0-0 Yrs',
 '7-12 Yrs',
 '4-7 Yrs',
 '2-5 Yrs',
 '7-10 Yrs',
 '5-10 Yrs',
 '9-12 Yrs',
 '3-6 Yrs',
 '5-9 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '2-6 Yrs',
 '5-9 Yrs',
 '7-12 Yrs',
 '4-6 Yrs',
 '5-10 Yrs',
 '5-10 Yrs']

In [363]:
import pandas as pd
df1= pd.DataFrame({"Job Title":jobTitles,"Company Name":CompanyTitles,"Location":"Bangalore","Exp":Experience})
df1

,Job Title,Company Name,Location,Exp
0,Data Scientist / Analyst,open data fabric,Bangalore,4-9 Yrs
1,Forecasting Analyst/ Data Scientist (US Client),Concentrix,Bangalore,3-8 Yrs
2,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,Bangalore,0-0 Yrs
3,Data Scientist,Amazon,Bangalore,7-12 Yrs
4,"Staff Data Scientist, Personalization",Walmart,Bangalore,4-7 Yrs
5,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore,2-5 Yrs
6,Data Scientist,Hewlett-Packard (HP),Bangalore,7-10 Yrs
7,Senior Data Scientist,newscorp,Bangalore,5-10 Yrs
8,Senior Data Scientist,Walmart,Bangalore,9-12 Yrs
9,Senior Data Scientist,Precisely,Bangalore,3-6 Yrs
10,Virtusa Hiring DATA Scientist- PAN India,Virtusa,Bangalore,5-9 Yrs
11,Data Scientist,Visa,Bangalore,3-7 Yrs
12,Sr. Product Data Scientist,Uber,Bangalore,2-7 Yrs
13,Data Scientist/Senior Data Scientist - Python,ApicalGo Consultancy,Bangalore,3-8 Yrs
14,Senior Data Scientist - SQL/Python/Numpy,Serving Skill,Bangalore,2-6 Yrs
15,Senior Data Scientist,L A Consultancy,Bangalore,5-9 Yrs
16,Associate Solution Architect (Data Scientist),Apisero,Bangalore,7-12 Yrs
17,Data Scientist,VANTAGEIQ TECHNOLOGIES (OPC) PRIVATE LIMITED,Bangalore,4-6 Yrs
18,Data Scientist,newscorp,Bangalore,5-10 Yrs
19,Data Scientist,AbbVie,Bangalore,5-10 Yrs

In [364]:
resulutDF1=df1.head(10)

In [366]:
resulutDF1

,Job Title,Company Name,Location,Exp
0,Data Scientist / Analyst,open data fabric,Bangalore,4-9 Yrs
1,Forecasting Analyst/ Data Scientist (US Client),Concentrix,Bangalore,3-8 Yrs
2,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,Bangalore,0-0 Yrs
3,Data Scientist,Amazon,Bangalore,7-12 Yrs
4,"Staff Data Scientist, Personalization",Walmart,Bangalore,4-7 Yrs
5,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore,2-5 Yrs
6,Data Scientist,Hewlett-Packard (HP),Bangalore,7-10 Yrs
7,Senior Data Scientist,newscorp,Bangalore,5-10 Yrs
8,Senior Data Scientist,Walmart,Bangalore,9-12 Yrs
9,Senior Data Scientist,Precisely,Bangalore,3-6 Yrs

# Q3: In this question you have to scrape data using the filters available on the webpage as shown

In [391]:
driver = webdriver.Chrome('chromedriver.exe')

In [392]:
url = 'https://www.naukri.com/'
driver.get(url)

In [393]:
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
search_job

In [394]:
search_job.send_keys("Data Scientist")

In [395]:
search_Loc=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input")
search_Loc

In [396]:
search_Loc.send_keys("Delhi/NCR")

In [397]:
search_Button=driver.find_element_by_xpath("/html/body/div/div[2]/div[3]/div/div/div[6]")
search_Button

In [398]:
search_Button.click()

In [399]:
search_CheckBox=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i")
search_CheckBox

In [400]:
search_CheckBox.click()

In [401]:
title_tags = driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
len(title_tags)

20

In [402]:
jobTitles=[]
for i in title_tags:
     jobTitles.append(i.text)
        
jobTitles[0:10]

['Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Analyst/ Scientist- Fresher Position',
 'Lead Data Scientist',
 'Data Scientist',
 'Data Scientist - MIND Infotech',
 'Data Scientist - MIND Infotech',
 'Hiring For Data Scientist',
 'Open Project | IT Consulting | Data Scientist',
 'Data Scientist (freelance)',
 'Data Scientist']

In [404]:
CompanyNames = driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
len(CompanyNames)
CompanyNames[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="ab974be8-caba-4c82-be46-0aeaffadcffe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="7f993379-7c5a-4ad0-af59-cca61e1c6bf5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="12b30d5b-015a-4275-9c4d-7552714e303a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="ef0692d1-037e-40e2-abdb-6c2719614d3e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="601c065c-a67f-4f01-82a2-e4d7940f88df")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="24107ae5-ed1a-4234-b18a-24721de37c62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="d04ab2a6-1a97-4d70-a16b-e826e31519e5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="02cb890c-2939-46ff-b3b5-da50f623049f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="0003788c-d2f8-4876-9425-cf72aad50075")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="23bf1a67-dbf0-4cf3-a2bc-19700c66fdd5")>]

In [405]:
CompanyTitles=[]
for i in CompanyNames:
     CompanyTitles.append(i.text)
        
CompanyTitles[0:10]

['NTT Data',
 'Sejal Consulting Hub',
 'Indihire HR Consultants Private Limited',
 'Optum',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'MOTHERSONSUMI INFOTECH & DESIGNS LIMITED',
 'Lumiq.ai',
 'Virtuoso Staffing Solutions Pvt Ltd',
 '2Coms',
 'CHANGE LEADERS CONSULTING']

In [406]:
ExperienceTitle = driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')
len(ExperienceTitle)
ExperienceTitle[0:10]

[<selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="1596d596-e68d-4594-93c8-ef0ff9935b59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="d36e1b85-33a9-4da3-8b16-d13be0fc2302")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="ea5c79b9-0a78-48ae-863c-e07cca7d427e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="3b4b2807-e8a4-4b63-af2b-729c25741ede")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="69268729-25d9-445a-bb19-818b9388ee5b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="1e11d5b2-95bc-47ef-8791-63a5833db152")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="1a4299ca-d477-46e7-86a9-742d652fdaa3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="8b7fb36c-61fc-4792-b6d1-c06527fcfcaf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="f0587d5c-5597-4f0e-b532-d80aa6f5d5a6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="ac12c33fc85c931db2e95837c44ef601", element="eb81a0b9-c03d-4732-ae14-b919df2851a0")>]

In [407]:
Experience=[]
for i in ExperienceTitle:
    Experience.append(i.text)
        
Experience

['0-0 Yrs',
 '0-3 Yrs',
 '2-4 Yrs',
 '2-6 Yrs',
 '4-8 Yrs',
 '4-8 Yrs',
 '2-7 Yrs',
 '5-10 Yrs',
 '2-7 Yrs',
 '3-8 Yrs',
 '3-8 Yrs',
 '1-5 Yrs',
 '2-5 Yrs',
 '3-8 Yrs',
 '1-6 Yrs',
 '3-7 Yrs',
 '1-3 Yrs',
 '2-5 Yrs',
 '2-6 Yrs',
 '2-6 Yrs']

In [408]:
import pandas as pd
df2= pd.DataFrame({"Job Title":jobTitles,"Company Name":CompanyTitles,"Location":"Delhi/NCR","Exp":Experience})
df2

,Job Title,Company Name,Location,Exp
0,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,Delhi/NCR,0-0 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,Sejal Consulting Hub,Delhi/NCR,0-3 Yrs
2,Lead Data Scientist,Indihire HR Consultants Private Limited,Delhi/NCR,2-4 Yrs
3,Data Scientist,Optum,Delhi/NCR,2-6 Yrs
4,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Delhi/NCR,4-8 Yrs
5,Data Scientist - MIND Infotech,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,Delhi/NCR,4-8 Yrs
6,Hiring For Data Scientist,Lumiq.ai,Delhi/NCR,2-7 Yrs
7,Open Project | IT Consulting | Data Scientist,Virtuoso Staffing Solutions Pvt Ltd,Delhi/NCR,5-10 Yrs
8,Data Scientist (freelance),2Coms,Delhi/NCR,2-7 Yrs
9,Data Scientist,CHANGE LEADERS CONSULTING,Delhi/NCR,3-8 Yrs
10,Urgent Requirement || Data Scientist || Noida,HCL,Delhi/NCR,3-8 Yrs
11,Senior Data Scientist,iNICU,Delhi/NCR,1-5 Yrs
12,Data Scientist,Boston Consulting Group,Delhi/NCR,2-5 Yrs
13,Data Scientist,Stefanini,Delhi/NCR,3-8 Yrs
14,Lead Data Scientist - KYC/Fraud/Marketing,Tide Software,Delhi/NCR,1-6 Yrs
15,Data Scientist,BlackBuck,Delhi/NCR,3-7 Yrs
16,Data Scientist,Country Veggie,Delhi/NCR,1-3 Yrs
17,Data Scientist,NAVIKENZ INDIA PRIVATE LIMITED,Delhi/NCR,2-5 Yrs
18,Data Scientist/Senior Scientist - Python/Spark...,Connexions,Delhi/NCR,2-6 Yrs
19,Data Scientist,Mahajan Imaging,Delhi/NCR,2-6 Yrs

In [409]:
resulutDF2=df1.head(10)

In [410]:
resulutDF2

,Job Title,Company Name,Location,Exp
0,Data Scientist / Analyst,open data fabric,Bangalore,4-9 Yrs
1,Forecasting Analyst/ Data Scientist (US Client),Concentrix,Bangalore,3-8 Yrs
2,"Excellent Opportunity For Freshers For AI/ML, ...",NTT Data,Bangalore,0-0 Yrs
3,Data Scientist,Amazon,Bangalore,7-12 Yrs
4,"Staff Data Scientist, Personalization",Walmart,Bangalore,4-7 Yrs
5,Data Scientist II- Merchandise & Discovery,Swiggy,Bangalore,2-5 Yrs
6,Data Scientist,Hewlett-Packard (HP),Bangalore,7-10 Yrs
7,Senior Data Scientist,newscorp,Bangalore,5-10 Yrs
8,Senior Data Scientist,Walmart,Bangalore,9-12 Yrs
9,Senior Data Scientist,Precisely,Bangalore,3-6 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com.

In [46]:
driver = webdriver.Chrome('chromedriver.exe')

In [47]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [48]:
search_product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_product

In [49]:
search_product.send_keys("sunglasses")

In [51]:
Brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand_tags)

40

In [52]:
BrandName=[]
for i in Brand_tags:
     BrandName.append(i.text)
        
BrandName[0:36]

['ROZZETTA CRAFT',
 'SKYZA INDIA',
 'SRPM',
 'SUNBEE',
 'Elligator',
 'PIRASO',
 'Fastrack',
 'AISLIN',
 'New Specs',
 'DEIXELS',
 'SHAAH COLLECTIONS',
 'ROZZETTA CRAFT',
 'hipe',
 'Fastrack',
 'SRPM',
 'Sewell',
 'SUNBEE',
 'Lee Topper',
 'PIRASO',
 'AISLIN',
 'PIRASO',
 'PIRASO',
 'kingsunglasses',
 'ZOSTAL',
 'kingsunglasses',
 'GANSTA',
 'Lee Topper',
 'Fair-x',
 'ROYAL SON',
 'SHAAH COLLECTIONS',
 'kingsunglasses',
 'HAMIW COLLECTION',
 'Elligator',
 'Silver Kartz',
 'Elligator',
 'Sewell']

In [53]:
Brand_Discr = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Brand_Discr)
Brand_Discr[0:36]

[<selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="25ef003a-f5cf-47eb-9173-32cdda5d1427")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="a5b07ce8-a35b-436f-9309-9413c1e13c7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="75609a68-fb8c-4686-8b1b-01a79cc58906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="ca2e6a00-2385-4dc6-9a2e-90baf0d1fad0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="ae224e43-aed8-4390-aefa-4c9a34d0181d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="cc23cbf1-1e5f-44d6-8276-77761e5d1da4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="84e1d6d3-a281-49c5-80e1-48824b130a6c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="fc53f793-a16b-4be5-a1f4-8dd187ed3e67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="019e6aad-0b80-49ad-9716-9a1d825968cd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="b0ed0f4b-fa64-4b22-83f0-4e78e1f09734")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="7bda851e-032c-420b-9db1-42c08f08dd27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="cc859257-926a-45d3-81ee-1178fd28803b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="4ec59601-ff9c-489e-8596-d72fcf5d81fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="a3a42fb4-3d84-4e42-a1aa-6c0cc44bf388")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="ea0a2a16-49a3-4091-9965-9e18dbdf7be3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="2d50c128-81a5-44b9-a047-88ec1c9fedb3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="67f3d295-ea0a-4570-939d-9c2183519f22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="0cdeaa4a-1469-4538-b04d-393e62552360")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="704e3595-3b07-4258-9c5a-108bb5416b01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="3c5d0762-ccfa-48ab-9177-0d8b7776338b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="1b06be17-5e22-4ae4-8158-e7acea99267d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="a8339848-65fd-4235-bb66-cdb0470c8dae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="4561ae43-5147-46da-82f5-46ca749ab3f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="4ce299f1-a48a-440a-b10a-36ec5d381ea4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="4f1c553a-7935-4c40-a5a5-35a5c84d2065")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="ce4a7a85-7df6-4241-a566-12750022a5d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="4de7aeb5-007c-41ec-bbd6-6019e3c6b886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="7a9c91a9-0c3a-4353-b156-1d2dc247ca00")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="8765577f-9cd8-4273-b11a-036cc28fe9f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="9379033a-be7d-4647-b0fe-b2e08e983708")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="8c31b625-36b7-4528-a995-9eb6f2062e56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="b2cec048-a2e3-4348-ae1a-e1b1a25868ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="2392b2f9-e20d-45da-83bd-a30344ab3980")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="c258f14b-942e-470d-a4f6-1f0efac9b3ee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="5d892101-d07a-4332-b052-298fc3c96450")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d700897a64bb3f231484ba3534f29843", element="d4c54609-9cbc-4d4e-ad5a-c5212a047e3b")>]

In [54]:
ProductDiscription=[]
for i in Brand_Discr:
     ProductDiscription.append(i.text)
        
ProductDiscription[0:36]

['UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection, Polarized Wayfarer Sunglasses (Free Size...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Toughened Glass Lens, UV Protection Wrap-around, Rectan...',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator, Wayfarer Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Wayfarer, Retro Square Sunglasses (50)',
 'Polarized Butterfly Sunglasses (Free Size)',
 'UV Protection, Polarized, Mirrored Round Sunglasses (Fr...',
 'Riding Glasses Wrap-around Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (32)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Riding Glasses, Mirrored Wayfarer Sungla...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Mirrored, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Riding Glasses Wayfarer Sunglasses (53)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Sports Sunglasses (Free S...',
 'Mirrored Aviator Sunglasses (55)',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection Round Sunglasses (54)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (55)',
 'Polarized Butterfly Sunglasses (Free Size)']

Price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(Price_tags)

In [56]:
Price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(Price_tags)[0:36]

TypeError: 'int' object is not subscriptable

In [56]:
ProductPrice=[]
for i in Price_tags:
     ProductPrice.append(i.text)
        
ProductPrice[0:36]

['₹399₹1,99980% off',
 '₹409₹1,79977% off',
 '₹148₹1,29988% off',
 '₹193₹1,29985% off',
 '₹208₹2,49591% off',
 '₹179₹1,59988% off',
 '₹629₹79921% off\nFree delivery',
 '₹1,248₹3,69966% off\nFree delivery',
 '₹182₹2,59992% off',
 '₹152₹1,19987% off',
 '₹115₹1,69993% off',
 '₹281₹1,99985% off',
 '₹129₹1,46691% off',
 '₹629₹79921% off\nFree delivery',
 '₹128₹99987% off',
 '₹599₹1,99970% off\nFree delivery',
 '₹226₹1,69986% off',
 '₹225₹2,49990% off',
 '₹175₹1,59989% off',
 '₹409₹1,52573% off',
 '₹175₹1,59989% off',
 '₹175₹1,59989% off',
 '₹134₹1,19988% off',
 '₹110₹99988% off',
 '₹189₹1,99990% off',
 '₹148₹1,79991% off',
 '₹149₹99985% off',
 '₹309₹1,49979% off',
 '₹329₹1,49978% off',
 '₹131₹99986% off',
 '₹136₹99986% off',
 '₹98₹1,49993% off',
 '₹139₹99886% off',
 '₹183₹1,49987% off',
 '₹321₹1,99983% off',
 '₹599₹1,99970% off\nFree delivery']

In [60]:
import pandas as pd
df3=pd.DataFrame({"Brand Name" :BrandName,"Discription":ProductDiscription ,"Price":ProductPrice})
df3

,Brand Name,Discription,Price
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹399₹1,99980% off"
1,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...","₹409₹1,79977% off"
2,SRPM,UV Protection Wayfarer Sunglasses (50),"₹148₹1,29988% off"
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","₹193₹1,29985% off"
4,Elligator,UV Protection Round Sunglasses (54),"₹208₹2,49591% off"
5,PIRASO,UV Protection Aviator Sunglasses (54),"₹179₹1,59988% off"
6,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629₹79921% off\nFree delivery
7,AISLIN,"Toughened Glass Lens, UV Protection Wrap-aroun...","₹1,248₹3,69966% off\nFree delivery"
8,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹182₹2,59992% off"
9,DEIXELS,"UV Protection Aviator, Wayfarer Sunglasses (Fr...","₹152₹1,19987% off"
10,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...","₹115₹1,69993% off"
11,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...","₹281₹1,99985% off"
12,hipe,UV Protection Aviator Sunglasses (Free Size),"₹129₹1,46691% off"
13,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹629₹79921% off\nFree delivery
14,SRPM,"Others Wayfarer, Retro Square Sunglasses (50)",₹128₹99987% off
15,Sewell,Polarized Butterfly Sunglasses (Free Size),"₹599₹1,99970% off\nFree delivery"
16,SUNBEE,"UV Protection, Polarized, Mirrored Round Sungl...","₹226₹1,69986% off"
17,Lee Topper,Riding Glasses Wrap-around Sunglasses (Free Size),"₹225₹2,49990% off"
18,PIRASO,UV Protection Wayfarer Sunglasses (32),"₹175₹1,59989% off"
19,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)","₹409₹1,52573% off"
20,PIRASO,UV Protection Aviator Sunglasses (54),"₹175₹1,59989% off"
21,PIRASO,UV Protection Aviator Sunglasses (54),"₹175₹1,59989% off"
22,kingsunglasses,"UV Protection, Riding Glasses, Mirrored Wayfar...","₹134₹1,19988% off"
23,ZOSTAL,UV Protection Wrap-around Sunglasses (Free Size),₹110₹99988% off
24,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...","₹189₹1,99990% off"
25,GANSTA,"UV Protection, Riding Glasses Wayfarer Sunglas...","₹148₹1,79991% off"
26,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹149₹99985% off
27,Fair-x,"Riding Glasses, UV Protection Sports Sunglasse...","₹309₹1,49979% off"
28,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹329₹1,49978% off"
29,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹131₹99986% off
30,kingsunglasses,UV Protection Round Sunglasses (54),₹136₹99986% off
31,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...","₹98₹1,49993% off"
32,Elligator,UV Protection Round Sunglasses (53),₹139₹99886% off
33,Silver Kartz,UV Protection Wayfarer Sunglasses (Free Size),"₹183₹1,49987% off"
34,Elligator,UV Protection Aviator Sunglasses (55),"₹321₹1,99983% off"
35,Sewell,Polarized Butterfly Sunglasses (Free Size),"₹599₹1,99970% off\nFree delivery"
36,New Specs,"Mirrored, UV Protection, Riding Glasses, Other...","₹213₹1,39984% off"
37,PIRASO,UV Protection Aviator Sunglasses (58),"₹299₹2,59988% off"
38,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹239₹99976% off
39,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...","₹933₹4,25078% off\nFree delivery"

In [58]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
Next_Button

In [11]:
Next_Button.click()

In [12]:
Brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand_tags)

40

In [13]:
BrandName=[]
for i in Brand_tags:
     BrandName.append(i.text)
        
BrandName[0:36]

['PHENOMENAL',
 'DEIXELS',
 'hipe',
 'Fastrack',
 'Fastrack',
 'ROYAL SON',
 'Elligator',
 'PHENOMENAL',
 'PIRASO',
 'New Specs',
 'Rich Club',
 'ROZZETTA CRAFT',
 'PIRASO',
 'Fastrack',
 'Rich Club',
 'PHENOMENAL',
 'SHAAH COLLECTIONS',
 'DEIXELS',
 'Silver Kartz',
 'kingsunglasses',
 'Lee Topper',
 'SUNBEE',
 'Elligator',
 'Lee Topper',
 'hipe',
 'Johaena',
 'Fastrack',
 'ROYAL SON',
 'ROYAL SON',
 'Elligator',
 'Fastrack',
 'ROZZETTA CRAFT',
 'hipe',
 'Rich Club',
 'Rich Club',
 'VINCENT CHASE']

In [14]:
Brand_Discr = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Brand_Discr)
Brand_Discr[0:36]

[<selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="31833472-0f85-4526-8c37-8db0f3e6805e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="8767a19b-b40b-401a-b90f-e3fd3e381286")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="b0c8f2ba-8224-4620-af36-3046411ee950")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="41fcbaf0-3ab7-454b-a10f-14b3aa5211e0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="641667d7-5c37-4b69-8cdc-48b51445429d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c28354a2-affb-4c07-8d98-6564f9c7c219")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="ae171c54-f47b-4709-9c6a-b888d21ae06a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="193d2e89-d712-4f63-8483-459291f50686")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="63efa25e-720b-4cf7-b74e-6873e1d9922c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="3da51362-82cb-472e-9e5e-a8791e2bdf47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="853a06b1-3fb5-4230-9021-126e9173f888")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="029cf045-31fb-4da5-a423-84d11cc7d317")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c2684cdb-4cb6-4e1c-9f3f-e2d421ea3fc6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="9a3f38c6-c977-4ee4-9908-6c73c1893d3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="f89064af-20c3-4bfc-a6b5-00958d331cfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="bfe4b096-c55c-4a2a-9310-53bd45bb7511")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c9bec825-4a2c-4271-9b76-2b16404e4e55")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="69b730ae-6201-4c55-b1ce-019a35c8e89e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="e793ac1c-78e0-442e-b192-1598bab7c92b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="a9350166-f23d-494f-ae6d-f89ff81539e8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="2116fc3a-0ea3-4ea1-853b-f0a99a0123a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="117df2b2-8dbd-4b24-8956-19fbe01b491d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="3fb97dab-dc7a-47db-b3ac-ec8170c120ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="9e35272b-5946-4aca-aff8-a1f1cc728839")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="2b280e98-b0a3-4411-99fc-35c51adc2f29")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="8962d55f-0ac0-45a8-ae75-6ee12b935a40")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="fdd28900-dbeb-438f-8815-34bd24cfb543")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="2ce3b430-b3c7-47e4-8549-499eb735a405")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="6ed0cb88-0fcc-4740-ab59-87809fb4819d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="abfd38d5-fb63-47b5-b0c4-08ddff8b4d3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="0aea34a4-b0dd-4eee-9d97-00ffb85804fb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="8984e60b-a3d3-44ee-86e6-d34b070042cc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="e8dbd75e-43c2-4505-afa9-4b6b774cbb95")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="1eb0d466-ea0d-464e-af00-d64f4e0c73ac")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="7a66d7e5-04c0-4be7-bb28-61c11a448e07")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="fc05da9b-a0e9-420b-9af0-12c8df094d59")>]

In [15]:
ProductDiscription=[]
for i in Brand_Discr:
     ProductDiscription.append(i.text)
        
ProductDiscription[0:36]

['UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient, Mirrored, Riding Glasses Aviat...',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Butterfly Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Round Sunglasses (48)',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (88)',
 'Mirrored, UV Protection Aviator Sunglasses (56)',
 'Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...',
 'UV Protection, Polarized, Mirrored Wayfarer Sunglasses ...',
 'UV Protection Round Sunglasses (50)',
 'UV Protection, Riding Glasses Retro Square, Spectacle ...',
 'Mirrored, UV Protection, Gradient Round Sunglasses (55)',
 'Riding Glasses, UV Protection Oval Sunglasses (52)',
 'Polarized Retro Square Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (58)',
 'UV Protection, Gradient Wayfarer Sunglasses (55)',
 'UV Protection Retro Square, Round Sunglasses (54)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (48)',
 'UV Protection, Mirrored, Gradient Round Sunglasses (51)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [17]:
Price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(Price_tags)[0:36]

TypeError: 'int' object is not subscriptable

In [18]:
ProductPrice=[]
for i in Price_tags:
     ProductPrice.append(i.text)
        
ProductPrice[0:36]

['₹278₹1,99986% off',
 '₹149₹49970% off',
 '₹159₹99984% off',
 '₹629₹79921% off',
 '₹549₹79931% off\nFree delivery',
 '₹329₹1,49978% off',
 '₹199₹1,29984% off',
 '₹267₹1,99986% off',
 '₹249₹1,59984% off',
 '₹133₹1,59991% off',
 '₹125₹49974% off',
 '₹424₹2,22580% off',
 '₹325₹2,59987% off',
 '₹709₹79911% off\nFree delivery',
 '₹115₹49976% off',
 '₹267₹1,99986% off',
 '₹226₹1,69986% off',
 '₹149₹1,49990% off',
 '₹192₹1,19983% off',
 '₹169₹1,29986% off',
 '₹226₹2,49990% off',
 '₹193₹1,29985% off',
 '₹219₹1,99689% off',
 '₹325₹1,29974% off',
 '₹139₹1,46690% off',
 '₹127₹1,28890% off',
 '₹548₹79931% off\nFree delivery',
 '₹424₹1,49971% off',
 '₹167₹99983% off',
 '₹261₹1,99986% off',
 '₹1,549₹1,99922% off\nFree delivery',
 '₹349₹1,99982% off',
 '₹237₹1,89987% off',
 '₹159₹79980% off',
 '₹175₹79978% off',
 '₹749₹2,50070% off\nFree delivery']

In [20]:
import pandas as pd
df4=pd.DataFrame({"Brand Name" :BrandName,"Discription":ProductDiscription ,"Price":ProductPrice})
df4

,Brand Name,Discription,Price
0,PHENOMENAL,UV Protection Retro Square Sunglasses (Free Size),"₹278₹1,99986% off"
1,DEIXELS,UV Protection Wayfarer Sunglasses (Free Size),₹149₹49970% off
2,hipe,"UV Protection, Gradient, Mirrored, Riding Glas...",₹159₹99984% off
3,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629₹79921% off
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹549₹79931% off\nFree delivery
5,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),"₹329₹1,49978% off"
6,Elligator,UV Protection Wayfarer Sunglasses (53),"₹199₹1,29984% off"
7,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...","₹267₹1,99986% off"
8,PIRASO,UV Protection Aviator Sunglasses (Free Size),"₹249₹1,59984% off"
9,New Specs,UV Protection Aviator Sunglasses (Free Size),"₹133₹1,59991% off"
10,Rich Club,Polarized Round Sunglasses (48),₹125₹49974% off
11,ROZZETTA CRAFT,UV Protection Retro Square Sunglasses (Free Size),"₹424₹2,22580% off"
12,PIRASO,UV Protection Butterfly Sunglasses (60),"₹325₹2,59987% off"
13,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹709₹79911% off\nFree delivery
14,Rich Club,Polarized Round Sunglasses (48),₹115₹49976% off
15,PHENOMENAL,"UV Protection, Mirrored Retro Square Sunglasse...","₹267₹1,99986% off"
16,SHAAH COLLECTIONS,UV Protection Round Sunglasses (Free Size),"₹226₹1,69986% off"
17,DEIXELS,UV Protection Rectangular Sunglasses (Free Size),"₹149₹1,49990% off"
18,Silver Kartz,UV Protection Aviator Sunglasses (88),"₹192₹1,19983% off"
19,kingsunglasses,"Mirrored, UV Protection Aviator Sunglasses (56)","₹169₹1,29986% off"
20,Lee Topper,"Riding Glasses, Night Vision Wrap-around Sungl...","₹226₹2,49990% off"
21,SUNBEE,"UV Protection, Polarized, Mirrored Wayfarer Su...","₹193₹1,29985% off"
22,Elligator,UV Protection Round Sunglasses (50),"₹219₹1,99689% off"
23,Lee Topper,"UV Protection, Riding Glasses Retro Square, Sp...","₹325₹1,29974% off"
24,hipe,"Mirrored, UV Protection, Gradient Round Sungla...","₹139₹1,46690% off"
25,Johaena,"Riding Glasses, UV Protection Oval Sunglasses ...","₹127₹1,28890% off"
26,Fastrack,Polarized Retro Square Sunglasses (Free Size),₹548₹79931% off\nFree delivery
27,ROYAL SON,UV Protection Rectangular Sunglasses (58),"₹424₹1,49971% off"
28,ROYAL SON,"UV Protection, Gradient Wayfarer Sunglasses (55)",₹167₹99983% off
29,Elligator,"UV Protection Retro Square, Round Sunglasses (54)","₹261₹1,99986% off"
30,Fastrack,UV Protection Oval Sunglasses (Free Size),"₹1,549₹1,99922% off\nFree delivery"
31,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹349₹1,99982% off"
32,hipe,UV Protection Sports Sunglasses (Free Size),"₹237₹1,89987% off"
33,Rich Club,UV Protection Round Sunglasses (48),₹159₹79980% off
34,Rich Club,"UV Protection, Mirrored, Gradient Round Sungla...",₹175₹79978% off
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹749₹2,50070% off\nFree delivery"
36,Lee Topper,UV Protection Cat-eye Sunglasses (Free Size),"₹231₹1,29982% off"
37,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹292₹1,99985% off"
38,kingsunglasses,"UV Protection, Mirrored Wayfarer Sunglasses (F...",₹111₹99988% off
39,PHENOMENAL,"UV Protection, Mirrored Clubmaster Sunglasses ...","₹257₹1,99887% off"

In [21]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]")
Next_Button

In [22]:
Next_Button.click()

In [23]:
Brand_tags = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(Brand_tags)

40

In [24]:
BrandName=[]
for i in Brand_tags:
     BrandName.append(i.text)
        
BrandName[0:36]

['Urbanic',
 'ROYAL SON',
 'United Colors of Benetton',
 'ROZZETTA CRAFT',
 'SUNBEE',
 'NuVew',
 'kingsunglasses',
 'SKYZA INDIA',
 'IDEE',
 'NuVew',
 'United Colors of Benetton',
 'AISLIN',
 'NuVew',
 'IDEE',
 'NuVew',
 'ROZZETTA CRAFT',
 'NuVew',
 'New Specs',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Cruze',
 'ROZZETTA CRAFT',
 'Urbanic',
 'AISLIN',
 'AISLIN',
 'Elligator',
 'ROYAL SON',
 'ROZZETTA CRAFT',
 'Rich Club',
 'AISLIN',
 'Ray-Ban',
 'HAMIW COLLECTION',
 'PETER JONES',
 'Fastrack',
 'AISLIN',
 'Sewell']

In [25]:
Brand_Discr = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Brand_Discr)
Brand_Discr[0:36]

[<selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="48a7d35a-7b34-4a51-95d0-fe607c710247")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c3d9227b-7681-4993-8027-b21714a7d199")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="7ba816f3-f04c-4a04-861b-bdb61edc6aff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c2c6e39b-4d4b-4f2a-915a-7e2e18f0f12f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="ab34ae7e-1077-4640-a441-bf7280c4dfa9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="a4fe4f9f-8ee8-4e19-b1c8-f280d4937e9f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="73d7d36c-4768-4f8d-b898-b7cb613737c7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="7cd88b73-225b-4861-89d9-2062d9addb56")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="c5b6ca38-e9f2-4c34-bb3b-efc612482e01")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="22a49755-0b10-40a2-9baa-417addd97435")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="9c42207b-196a-4df4-a9f4-919dabcf1c17")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="b5bfa70f-9349-4be6-a840-f5b9b239d153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="da04c18e-0d53-4586-82cf-46e24c53b81a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="8863e8d7-17c4-4f28-90c3-979c883e7a8e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="336cf15c-c388-4405-92bb-6e000f5b57c2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="6b8e3c8f-c09d-4622-9bc6-33ec808c3914")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="2652c79d-944a-49a6-98bc-118c4179db50")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="b1b290ef-f52c-4833-972e-ca56bda3cdc5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="8094f07a-6994-4812-9c90-db0c092efd9b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="7adceda9-f4ae-4b07-81ef-5345f4ece20e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="e55ef68f-fcf3-4e3b-8db5-baff789f28c3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="4f83e121-5da1-4ffd-8c39-1a5cc47b58ab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="0c20b79e-410a-40e6-83d6-bdaca3c57886")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="6f0f50eb-5ba4-4c71-8374-ff9a9512b3b3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="299ba2c0-d30a-43cd-98cd-634f6ecf33f9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="814eb2bc-e70a-4f7e-a2b6-a872e47e6d91")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="58232d72-42fb-4443-bd92-a7ee6db5e465")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="ecc438c8-cabe-468c-bb95-85c09544cb59")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="f2839104-0d59-4230-a70f-e33f3fefd629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="9391dff8-c613-4360-a2ec-bc3c59ac03db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="71a5b8c9-8a45-4906-9b5f-a87f05ebe999")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="3dc9cb4c-15c5-4255-9aad-db141294332f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="67183b69-1cbe-44a5-8633-74960b1333a7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="61825562-8477-49b5-9599-2749cfdf166a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="b1c4ab00-e156-44a1-9168-bdf8e5d91dce")>,
 <selenium.webdriver.remote.webelement.WebElement (session="956896c8ff917f122336247a24b76b82", element="40a1f2fc-61c5-4e10-b10b-6fc48a37f51f")>]

In [26]:
ProductDiscription=[]
for i in Brand_Discr:
     ProductDiscription.append(i.text)
        
ProductDiscription[0:36]

['Others Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (55)',
 'Gradient Retro Square Sunglasses (56)',
 'UV Protection, Gradient Rectangular Sunglasses (Free Si...',
 'UV Protection, Polarized, Mirrored Retro Square, Rectan...',
 'UV Protection, Mirrored Wayfarer, Rectangular Sunglasse...',
 'UV Protection Round Sunglasses (Free Size)',
 'Polarized, UV Protection Sports Sunglasses (Free Size)',
 'UV Protection Round Sunglasses (49)',
 'UV Protection, Mirrored Aviator Sunglasses (57)',
 'Gradient, Mirrored, UV Protection Aviator Sunglasses (5...',
 'Toughened Glass Lens, UV Protection Wrap-around, Rectan...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Cat-eye Sunglasses (60)',
 'Gradient, UV Protection Round Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (59)',
 'UV Protection Round Sunglasses (Free Size)',
 'Gradient Retro Square Sunglasses (60)',
 'UV Protection, Gradient Retro Square Sunglasses (Free S...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'Others Oval Sunglasses (Free Size)',
 'UV Protection, Gradient Cat-eye Sunglasses (58)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection, Riding Glasses Rectangular, Retro Square...',
 'UV Protection Aviator Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (62)',
 'Polarized, UV Protection, Riding Glasses Wayfarer, Rect...',
 'UV Protection, Gradient Oval Sunglasses (58)',
 'UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Wayfarer, Sports, Shield, Rectangular, Re...',
 'UV Protection Over-sized Sunglasses (58)',
 'Aviator Sunglasses (58)',
 'UV Protection Oval Sunglasses (60)',
 'Polarized Butterfly Sunglasses (Free Size)']

In [27]:
Price_tags = driver.find_elements_by_xpath('//a[@class="_3bPFwb"]')
len(Price_tags)[0:36]

TypeError: 'int' object is not subscriptable

In [28]:
ProductPrice=[]
for i in Price_tags:
     ProductPrice.append(i.text)
        
ProductPrice[0:36]

['₹439₹1,09059% off',
 '₹329₹1,49978% off',
 '₹757₹3,70079% off',
 '₹399₹1,99980% off',
 '₹161₹99983% off',
 '₹264₹1,04574% off',
 '₹169₹1,49988% off',
 '₹409₹1,79977% off',
 '₹869₹2,25061% off\nFree delivery',
 '₹145₹75080% off',
 '₹869₹4,10078% off\nFree delivery',
 '₹1,248₹3,69966% off\nFree delivery',
 '₹346₹1,25072% off',
 '₹789₹2,05061% off\nFree delivery',
 '₹327₹1,44577% off',
 '₹376₹1,99581% off',
 '₹159₹1,65090% off',
 '₹128₹1,59991% off',
 '₹614₹1,99969% off\nFree delivery',
 '₹281₹1,99985% off',
 '₹380₹1,29570% off',
 '₹253₹1,49983% off',
 '₹399₹99059% off',
 '₹409₹1,52573% off',
 '₹848₹3,69977% off\nFree delivery',
 '₹281₹1,49981% off',
 '₹424₹1,29967% off',
 '₹599₹2,55576% off\nFree delivery',
 '₹225₹99977% off',
 '₹396₹1,52574% off',
 '₹4,139₹5,59025% off\nFree delivery',
 '₹98₹1,49993% off',
 '₹369₹1,20069% off',
 '₹1,349₹1,99932% off\nFree delivery',
 '₹376₹3,20088% off',
 '₹599₹1,99970% off\nFree delivery']

In [29]:
import pandas as pd
df5=pd.DataFrame({"Brand Name" :BrandName,"Discription":ProductDiscription ,"Price":ProductPrice})
df5

,Brand Name,Discription,Price
0,Urbanic,Others Retro Square Sunglasses (Free Size),"₹439₹1,09059% off"
1,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹329₹1,49978% off"
2,United Colors of Benetton,Gradient Retro Square Sunglasses (56),"₹757₹3,70079% off"
3,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹399₹1,99980% off"
4,SUNBEE,"UV Protection, Polarized, Mirrored Retro Squar...",₹161₹99983% off
5,NuVew,"UV Protection, Mirrored Wayfarer, Rectangular ...","₹264₹1,04574% off"
6,kingsunglasses,UV Protection Round Sunglasses (Free Size),"₹169₹1,49988% off"
7,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...","₹409₹1,79977% off"
8,IDEE,UV Protection Round Sunglasses (49),"₹869₹2,25061% off\nFree delivery"
9,NuVew,"UV Protection, Mirrored Aviator Sunglasses (57)",₹145₹75080% off
10,United Colors of Benetton,"Gradient, Mirrored, UV Protection Aviator Sung...","₹869₹4,10078% off\nFree delivery"
11,AISLIN,"Toughened Glass Lens, UV Protection Wrap-aroun...","₹1,248₹3,69966% off\nFree delivery"
12,NuVew,UV Protection Aviator Sunglasses (Free Size),"₹346₹1,25072% off"
13,IDEE,UV Protection Wayfarer Sunglasses (50),"₹789₹2,05061% off\nFree delivery"
14,NuVew,UV Protection Cat-eye Sunglasses (60),"₹327₹1,44577% off"
15,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...","₹376₹1,99581% off"
16,NuVew,"UV Protection, Gradient Cat-eye Sunglasses (59)","₹159₹1,65090% off"
17,New Specs,UV Protection Round Sunglasses (Free Size),"₹128₹1,59991% off"
18,ROYAL SON,Gradient Retro Square Sunglasses (60),"₹614₹1,99969% off\nFree delivery"
19,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...","₹281₹1,99985% off"
20,Cruze,UV Protection Aviator Sunglasses (Free Size),"₹380₹1,29570% off"
21,ROZZETTA CRAFT,UV Protection Rectangular Sunglasses (Free Size),"₹253₹1,49983% off"
22,Urbanic,Others Oval Sunglasses (Free Size),₹399₹99059% off
23,AISLIN,"UV Protection, Gradient Cat-eye Sunglasses (58)","₹409₹1,52573% off"
24,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...","₹848₹3,69977% off\nFree delivery"
25,Elligator,"UV Protection, Riding Glasses Rectangular, Ret...","₹281₹1,49981% off"
26,ROYAL SON,UV Protection Aviator Sunglasses (Free Size),"₹424₹1,29967% off"
27,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (62),"₹599₹2,55576% off\nFree delivery"
28,Rich Club,"Polarized, UV Protection, Riding Glasses Wayfa...",₹225₹99977% off
29,AISLIN,"UV Protection, Gradient Oval Sunglasses (58)","₹396₹1,52574% off"
30,Ray-Ban,UV Protection Wayfarer Sunglasses (51),"₹4,139₹5,59025% off\nFree delivery"
31,HAMIW COLLECTION,"UV Protection Wayfarer, Sports, Shield, Rectan...","₹98₹1,49993% off"
32,PETER JONES,UV Protection Over-sized Sunglasses (58),"₹369₹1,20069% off"
33,Fastrack,Aviator Sunglasses (58),"₹1,349₹1,99932% off\nFree delivery"
34,AISLIN,UV Protection Oval Sunglasses (60),"₹376₹3,20088% off"
35,Sewell,Polarized Butterfly Sunglasses (Free Size),"₹599₹1,99970% off\nFree delivery"
36,PIRASO,UV Protection Aviator Sunglasses (50),"₹249₹1,59984% off"
37,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹629₹79921% off\nFree delivery
38,Fastrack,UV Protection Round Sunglasses (52),"₹989₹1,29923% off\nFree delivery"
39,AISLIN,"Toughened Glass Lens, UV Protection Aviator Su...","₹933₹4,25078% off\nFree delivery"

In [61]:
SunglassesDF=pd.concat([df3,df4,df5])

In [64]:
SunglassesDFFinal=SunglassesDF.head(100)

In [65]:
SunglassesDFFinal

,Brand Name,Discription,Price
0,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...","₹399₹1,99980% off"
1,SKYZA INDIA,"Polarized, UV Protection Sports Sunglasses (Fr...","₹409₹1,79977% off"
2,SRPM,UV Protection Wayfarer Sunglasses (50),"₹148₹1,29988% off"
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...","₹193₹1,29985% off"
4,Elligator,UV Protection Round Sunglasses (54),"₹208₹2,49591% off"
...,...,...,...
15,ROZZETTA CRAFT,"Gradient, UV Protection Round Sunglasses (Free...","₹376₹1,99581% off"
16,NuVew,"UV Protection, Gradient Cat-eye Sunglasses (59)","₹159₹1,65090% off"
17,New Specs,UV Protection Round Sunglasses (Free Size),"₹128₹1,59991% off"
18,ROYAL SON,Gradient Retro Square Sunglasses (60),"₹614₹1,99969% off\nFree delivery"
19,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...","₹281₹1,99985% off"

In [127]:
driver = webdriver.Chrome('chromedriver.exe')

In [141]:
url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3IXQLM&marketplace=FLIPKART'
driver.get(url)

In [142]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [143]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)
        
IphoneRatings

['5', '5', '5', '5', '5', '5', '5', '5', '4', '5']

In [144]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [145]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)
        
IphoneSummary

['Brilliant',
 'Simply awesome',
 'Best in the market!',
 'Perfect product!',
 'Fabulous!',
 'Worth every penny',
 'Great product',
 'Highly recommended',
 'Good choice',
 'Worth every penny']

In [146]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [147]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['The Best Phone for the Money\n\nThe iPhone 11 offers superb cameras, a more durable design and excellent battery life for an affordable price.\n\nCompelling ultra-wide camera\nNew Night mode is excellent\nLong battery life',
 'Really satisfied with the Product I received... It’s totally genuine and the packaging was also really good so if ur planning to buy just go for it.',
 'Great iPhone very snappy experience as apple kind. Upgraded from iPhone 7.\nPros\n-Camera top class\n- Battery top performed\n-Chipset no need to say as apple kind\n-Security as you expect from apple\n- Display super bright industry leading colour\naccuracy and super responsive\n-Build quality as expect from apple sturdy\npremium durable beautiful stylish.\n-Os most stable os in smartphone industry\n\nCons\n-No 5G\n-Display is not based on OLED technology\n-Charger headphones and 1 apple stic...\nREAD MORE',
 'Amazing phone with great cameras and better battery which gives you the best performance. I just love the camera .',
 'This is my first iOS phone. I am very happy with this product. Very much satisfied with this. I love this phone.',
 'Previously I was using one plus 3t it was a great phone\nAnd then I decided to upgrade I am stuck between Samsung s10 plus or iPhone 11\nI have seen the specs and everything were good except the display it’s somewhere between 720-1080 and it’s not even an amoled it’s an LCD display\nBut I decided to go with iPhone because I have never used an IOS device I have Been an android user from the past 9 years I ordered IPhone 11 (128gb) product red\nMy experience after using 3 weeks\n1. The delivery ...\nREAD MORE',
 'Amazing Powerful and Durable Gadget.\n\nI’m am very happy with the camera picture quality, Amazing face id unlocked in dark room, Strong battery with perfect screen size as you can carry easily in pocket. This is my third iPhone.\n\nI shifted from android Samsung Note series to iPhone because of the strong build quality and peace of mind for next 3-4 years.\n\nDon’t think to much just go for it and I suggest you to go for minimum 128gb variant or more 256gb.\n\nI’ve attached my puppy pics and no fi...\nREAD MORE',
 'What a camera .....just awesome ..you can feel this iPhone just awesome . Good for gaming also ...try pubg in hd it’s just wow',
 'So far it’s been an AMAZING experience coming back to iOS after nearly a decade but it’s not as versatile as android though phone is sturdy dropped it accidentally a couple of times and nothing happened fortunately camera is awesome',
 'i11 is worthy to buy, too much happy with the product. Thank u flipkart I received the item on time..loved it..']

In [148]:
import pandas as pd
IphoneDf1=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf1

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Worth every penny,Previously I was using one plus 3t it was a gr...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Highly recommended,What a camera .....just awesome ..you can feel...
8,4,Good choice,So far it’s been an AMAZING experience coming ...
9,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."

In [149]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [150]:
Next_Button.click()

In [151]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [152]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)
        
IphoneRatings

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [153]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [154]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Highly recommended',
 'Perfect product!',
 'Perfect product!',
 'Highly recommended',
 'Perfect product!',
 'Worth every penny',
 'Classy product',
 'Worth every penny',
 'Wonderful',
 'Terrific']

In [155]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [156]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['iphone 11 is a very good phone to buy only if you can compromise for the display. The display on this is device is pretty good but you can get other options with better displays in this price segment.\nIf you can survive with an HD+ LCD panel with thicker bezels and a notch up top then this is a very good phone for you.\nCameras are awesome, battery backup excellent, great performance and a decent premium look. Good job Apple !',
 'It’s a must buy who is looking for an upgrade from previous generation of iPhones. If you are using XR then still you can hold on for sometime and upgrade to 2020 model else this phone is a must buy . Camera quality is amazing and wide angle is something to count upon. Performance wise it’s amazing and feels premium while holding in hand. So a big YES for this device. Go for 128 GB variant as the 4K videos will occupy lots of space and the storage can get over very quickly. Try to buy it with...\nREAD MORE',
 'Value for money❤️❤️\nIts awesome mobile phone in the world ...\nDisplay was very good and bright ..\nTrust me freinds you r never regret after Buying..\nJust go for it....\nI love this phone and i switch to iphone x to 11',
 "It's my first time to use iOS phone and I am loving my upgradation 😍😍 I love the color, I love the assebility of the phone....I need to learn more about its functionality, but as far as I have seen, it's quite easy and it has a lot of functions to work on, specially if you are a content writer or a blogger you get a lot of content creation platforms and they are really amazing.\n\nThis phone not only for good quality photography but a lot of other task too.😍💯",
 "Iphone is just awesome.. battery backup is very very nice.. continuously for 10 hours we can use it.camera is just awesome.. display is just fab.i love it alot..i had to wait 15 days for it as i pre ordered it..overalll it's worth the price..these all images are clicked by my iPhone..and i love it.",
 'Best budget Iphone till date ❤️ go for it guys without second thought. Let me explain you guys about Camera, Display, battery, and performance.\n\nCamera: at this price range there is no comparison of camera, you’ll love the picture quality as well as video quality. I am a Vlogger I wanted an iPhone with 4k video by front camera and I got this phone and I am more than happy 😃\n\nBattery: I use this phone roughly as I am active social media person and I have a youtube channel. so the battery ba...\nREAD MORE',
 'Totally in love with this ❤ the camera quality is amazing just love it 😘😘😘 itsss dammnnnnnn amazing... Must buy iPhone 11 this is my best experience ever ☀👌👌🧡🧡🧡🧡🧡 thanku apple ❤',
 'It’s been almost a month since I have been using this phone. I upgraded from an iPhone 8. The main issue with my 8 was battery and this phone is just awesome when it comes to battery. It lasts a day and a half for me with my regular use , internet connected always with 4g\nCan’t move forward without saying this. Battery of this phone is a life saver when I am traveling or at work when I don’t get the option to charge\nCamera is superb. Front cam selfies and back cam photos are just awesome.\n...\nREAD MORE',
 'This is my first ever I phone. Before this I was using my google nexus 5. But moving from android to iOS is a great experience. It’s worth at this price. I will highly recommend it if you want to move to iOS. The best part of this phone is it’s camera and it’s battery life. This two things have won my heart. I loved it. Happy to have it in my hand. Still exploring its features. And can’t forget to mention Flipkart service. Very prompt service and fast delivery.',
 'Really worth of money. i just love it. It is the best phone ever.']

In [157]:
import pandas as pd
IphoneDf2=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf2

,Rating,Review summary,Full review
0,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
1,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
2,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
3,5,Highly recommended,It's my first time to use iOS phone and I am l...
4,5,Perfect product!,Iphone is just awesome.. battery backup is ver...
5,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
6,5,Classy product,Totally in love with this ❤ the camera quality...
7,5,Worth every penny,It’s been almost a month since I have been usi...
8,5,Wonderful,This is my first ever I phone. Before this I w...
9,5,Terrific,Really worth of money. i just love it. It is t...

In [158]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [159]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [160]:
Next_Button.click()

In [103]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

9

In [97]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['5', '5', '5', '5', '4', '5', '5', '5', '5']

In [161]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [162]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Terrific',
 'Highly recommended',
 'Must buy!',
 'Excellent',
 'Just wow!',
 'Perfect product!',
 'Fabulous!',
 'Wonderful',
 'Worth every penny',
 'Nice product']

In [163]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [164]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

["I got this beast today. And I must say the picture quality of its camera is awesome. Both the cameras works fine.\n\nAs for as the processing is concerned, it runs without any lag. You can play and do whatever you want without a glitch.\n\nThe battery runs for a day with medium and high workload.\n\nThe display is good and the speakers are working fine.\n\nThe earphones doesn't have any base and you can use it for calling mostly.\n\nThe charging time is approximately for 90 minutes for full charging...\nREAD MORE",
 'Amazing camera quality as expected, battery also has very good performance. Display, body, and touch experience is the best I’ve ever had. Sound quality of speakers is more than sufficient. Apple is known for it’s customer friendly security services and I can see it how. The A13 processor is the best in its work. So I would definitely recommend it for everyone who are looking for it, just go for it without delay.\n\nThe most amazing thing it the delivery. Flipkart has delivered it in the span ...\nREAD MORE',
 'Dear friends... I want to share my experience with you about this amazing I phone 11....this is my first iPhone and special things about this mobile is it has great camera, battery backup and awesome display.... I mean everything is perfect.loved it 👍👍👍',
 "It was amazing experience for me. Honestly i am using iPhone first time so I don't have that much past experience about that. But after using 7 days this mobile i want to give some honest feedback.\n1- Display 9 out of 10\n2- Camera 9.5 out of 10\n3- Battery 7 out of 10\n4- Performance 9.5 out of 10\n5- Features & Functions 10 out of 10\n6- Outer looks and colour 10 out of 10\nRest i think i will understand after using this for few months.\nI will highly recommend you guys if you have budget then you...\nREAD MORE",
 'Not mere a phone , Its more than that for fun and enjoy life. Just grab it. Best luck',
 'Nice 👌👌👌👌👌👌',
 'MD sufiyan rider Owsm\nMobile nd battery mast h v good',
 "Ok, so after almost 3 years I am again back into Apple Ecosystem. Switching from Android to iOS has just one disadvantage imo, and that's you can't take your WhatsApp data restored to iOS. Everything starts fresh, pretty sad. I am so glad that I chose iPhone 11 over 12. With 5G nowhere in India for at least an year will have an added advantage to iPhone 11. Spending extra 25k just for A14 chipset and OLED display is not a clever choice. Anyways, a fantastic phone with everything fit perfectly...\nREAD MORE",
 'Here is the thing\n\nThe only reason why you should buy this phone is for the camera, iOS, and if you have headaches looking at AMOLED display.\n\nI’m not an avid gamer but watch a lot of movies on smartphone. However, my migraine attacks increased considerably after using AMOLED Smartphone. That’s why I made a calculated decision to buy iPhone 11. It has the best LCD display and the blacks, though not as natural as an AMOLED, is better than some of the other smartphones.\n\nAdding to this the ste...\nREAD MORE',
 "If you are looking for a premium phone under 55k, this is the one for you.Got the iPhone 11 during the Republic day sale. Performance is top notch in this price range. Camera's do a perfect job in taking good quality photos and videos. Battery backup too is satisfactory. Writing this review after using for a week. Any further observations would be updated."]

In [165]:
import pandas as pd
IphoneDf3=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf3

,Rating,Review summary,Full review
0,5,Terrific,I got this beast today. And I must say the pic...
1,5,Highly recommended,"Amazing camera quality as expected, battery al..."
2,5,Must buy!,Dear friends... I want to share my experience ...
3,5,Excellent,It was amazing experience for me. Honestly i a...
4,5,Just wow!,"Not mere a phone , Its more than that for fun ..."
5,5,Perfect product!,Nice 👌👌👌👌👌👌
6,5,Fabulous!,MD sufiyan rider Owsm\nMobile nd battery mast ...
7,5,Wonderful,"Ok, so after almost 3 years I am again back in..."
8,5,Worth every penny,Here is the thing\n\nThe only reason why you s...
9,5,Nice product,If you are looking for a premium phone under 5...

In [170]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [171]:
Next_Button.click()

In [172]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [173]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['4', '3', '5', '5', '3', '4', '5', '5', '4', '5']

In [174]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [175]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Wonderful',
 'Does the job',
 'Terrific',
 'Fabulous!',
 'Just okay',
 'Delightful',
 'Mind-blowing purchase',
 'Terrific',
 'Good quality product',
 'Simply awesome']

In [176]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [177]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

["If I consider it just as a smartphone, it's pretty expensive. Have to admit that I payed a lot of money just for the brand. I understand people use apple products for years and if we consider the time span the phone is also worth for the money. But, there are also phones available under 10k and runs for years. Yes, it is true.\nBuy, this phone only if you want to show others how much you earn, otherwise it's nothing but just a smartphone like others are.",
 'The phone is awesome undoubtedly and worth the purchase .\n\nI had preordered it from Flipkart, but this time I am little disappointed with the packaging from Flipkart . I had preordered iPhone 7 Plus too but that time the packaging was excellent but didn’t get the same experience this time .... hence rating it a little low. Flipkart should have packed it better as it’s worth is much more .... Expecting betterment next time ...',
 'Switched from Android to Iphone. great experience till now. Night photography feature is Awesome. Scope of improvement in front camera. Fantastic & seamless gaming experience.',
 'Just love it... I rated battery 1 star because, when I turned it on it was only 3% 🥺🥺😭. Now I need to wait until the charger comes. But ye, overall I just love this phone♥️♥️♥️♥️♥️♥️♥️♥️♥️♥️♥️♥️♥️♥️ My first ever iPhone😄 My daddy gifted me as a birthday gift, so it will be my mark to return something special more than this♥️ I only want to thank is to my dad.... Thank you Apple for your wonderful product😘🍎❤️😇',
 "iPhone 11 is not better than Samsung s20 at the same price\nIf you need to buy a phone under 65000/ pls go for Samsung S20, this is better choice for you. I'm not satisfied",
 'Received product before the delivery date performance is very good value for money no problem till now camera is also good but the screen is lcd which is not good and irritate some time so you have to compromise the screen Flipkart services is good and nice',
 'The best phone I have ever owned!\n\nCamera: Rear camera is one of the best in the industry. The front camera is7/10. My Poco f1 with Google Camera mod took better selfies.\n\nPerformance: If you are moving from an android device, the performance is unreal. The sync between hardware and software is unreal! There is virtually no lag at all. All games run on it smooth AF! Bluetooth, WiFi performance is superb as well.\n\nBattery Life: Getting close to 7-7.5 of screen on time. Very good in comparison...\nREAD MORE',
 "Excellent phone. Got it for 29k after exchange and bank offer. Totally value for money at that price. Loved the product red colour.\niOS is smooth and no lags at all. Shifted from android though I have used iOS earlier and totally loving iOS.\nGot an original sealed box piece so go ahead and order without worrying. Also received the iOS 14.5.1 after turning on the phone immediately.\nFor people who are worried that there is no 5G in this phone don't hesitate to buy it. 5G is going to take tim...\nREAD MORE",
 'It is a very good phone but price is very high. May be in case of exchange we may get more. But need to bare this much amount initially.\n\nRegarding phone, it is okay. Not upto the mark. We can get good android phones under this price. And really painful to buy charger and earphones, this is really con in iphones. Some bluetooth earphones won’t be supported fully like same Bluetooth earphones working fine with android and working with IOS but less sounds compare to android.\n\nPros:\nPhone look...\nREAD MORE',
 "Hmmm., my first iphone and i love it .\nI thought the battery will be really bad cuz it's so low , but surprisingly it's awesome . Camera are superb .\nI had oppo f11 pro before buying this , except display everything on iphone 11 is way more good than my oppo one .\nJust want this phone to last 3 year minimum without much lag."]

In [178]:
import pandas as pd
IphoneDf4=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf4

,Rating,Review summary,Full review
0,4,Wonderful,"If I consider it just as a smartphone, it's pr..."
1,3,Does the job,The phone is awesome undoubtedly and worth the...
2,5,Terrific,Switched from Android to Iphone. great experie...
3,5,Fabulous!,Just love it... I rated battery 1 star because...
4,3,Just okay,iPhone 11 is not better than Samsung s20 at th...
5,4,Delightful,Received product before the delivery date perf...
6,5,Mind-blowing purchase,The best phone I have ever owned!\n\nCamera: R...
7,5,Terrific,Excellent phone. Got it for 29k after exchange...
8,4,Good quality product,It is a very good phone but price is very high...
9,5,Simply awesome,"Hmmm., my first iphone and i love it .\nI thou..."

In [180]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [181]:
Next_Button.click()

In [182]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [183]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['4', '4', '5', '4', '4', '5', '5', '5', '5', '5']

In [184]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [185]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Worth the money',
 'Wonderful',
 'Perfect product!',
 'Good choice',
 'Pretty good',
 'Excellent',
 'Super!',
 'Best in the market!',
 'Fabulous!',
 'Wonderful']

In [186]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [187]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['Awesome product!\nBattery: awesome\nDisplay: awesome\nPerformance:awesome\nSound quality: awesome\nCamera: awesome in light-but Low light camera performance is not very good',
 'I just loved the phone .... as I was waiting for phone cover this couldn’t able to review the phone..... camera quality is superb plus the features of phone... good phone all must buy.....',
 'Nice phone to buy with such offers its worth it if u can afford it just go for it',
 'One of my Fav Brand Apple and the Iphone 11 was a cherry on top so no comments for quality and performance but Flipkart please packing this product good way and extra safety this is my feedback for ur service.',
 'Good product. Bought on a good deal. Been around a week since started using.\nDisplay is a little dull as compared to other iPhone models.\nSometimes gets heated up while charging with Apple 18W fast charger.\nGames like COD are running smooth.\nBattery is decent enough to give you a day’s time between 2 recharges.',
 "The best phone I've ever bought with excellent performance, fantastic display & best camera with good improvements & high security. Don't think much,its just one time investment just go for it. Its total worth!",
 'Amazing performance... Very happy with purchase and delivery was super fast so Thanks to Flipkart for wonderful experience',
 'I’m am very happy with the camera picture quality, Amazing face id unlocked in a dark room, Strong battery with the perfect screen size as you can carry easily in a pocket',
 'I have been using android from last 9 years and this is my first iPhone and they are good camera multitasking games even display is great though an lcd panel but colours are rich and vibrant.\n\nOne liner - A premium device with all features. 🙂',
 'Works seamlessly, I get an avg 1.5 days battery life with moderate usage.\nCan’t really notice the low resolution LCD of this phone until you compare it with an AMOLed screen.\nUsually heats up 10 to 30% when doing high intensive tasks. Camera is no doubt at par with the flagship phones with good low light captures compared to iPhone 8.\nOverall iPhone 11 is better choice unless you want top notch camera and screen.']

In [188]:
import pandas as pd
IphoneDf5=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf5

,Rating,Review summary,Full review
0,4,Worth the money,Awesome product!\nBattery: awesome\nDisplay: a...
1,4,Wonderful,I just loved the phone .... as I was waiting f...
2,5,Perfect product!,Nice phone to buy with such offers its worth i...
3,4,Good choice,One of my Fav Brand Apple and the Iphone 11 wa...
4,4,Pretty good,Good product. Bought on a good deal. Been arou...
5,5,Excellent,The best phone I've ever bought with excellent...
6,5,Super!,Amazing performance... Very happy with purchas...
7,5,Best in the market!,I’m am very happy with the camera picture qual...
8,5,Fabulous!,I have been using android from last 9 years an...
9,5,Wonderful,"Works seamlessly, I get an avg 1.5 days batter..."

In [190]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [191]:
Next_Button.click()

In [192]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [193]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['5', '4', '4', '3', '4', '5', '5', '4', '3', '4']

In [194]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [195]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Awesome',
 'Worth the money',
 'Worth the money',
 'Nice',
 'Value-for-money',
 'Must buy!',
 'Just wow!',
 'Nice product',
 'Good',
 'Delightful']

In [196]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [197]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['The best phone ever iphones no one can match a iphone. There phones are truly intelligent phones thats why they called iphones. The look feel and depth of everything make your soul filled with joy and complete satisfaction. I love my iphone 11 in yellow color unique and amazing. Iphones are beast no phone ever in the history or in the future will match and compete with iphones they have there own competition. ios rocks!! Secure and advance. Battery life omg superb performance like the fast a...\nREAD MORE',
 'Good product ,\nBut it’s somehow overpriced because :\n1- if you compare image from iPhone 11 12 megapixel with Samsung galaxy 64 megapixel, there are only minor differences in the image quality\n\n2- battery backup is good but not better than my old Samsung galaxy\n\n3- performance is good by if you compare it with 8 gb ram you can’t feel the differences\n\n4- same with the display if you compare it with super amoled 90 GHz Samsung or oneplus , the smoothness is quite similar.\n\nSo overall a very go...\nREAD MORE',
 "apple is a good product. Camera is good. battery life is ok not good but ok and performance is very high. Display wasn't so good but it's ok and about accessories in the box no charger ok. but i think without earphones device is not completed and speakers sound quality is just a little lower than my galaxy s20 plus. settings vary hard to manage and accounts also very hard to login and use. please make it easy to use not hard.",
 'Very bad experience with iPhone phone getting heat while charging and touch is not upto the mark and battery backup is also not good . Display is quite good bt touch sampling rate is not good.. so please go with Android one plus or any other in this segment phone .. not a value for money phone. Go with Android which gives good performance Better than iPhone. Waste of money',
 'Reviewing after 10 days\nCamera:- In this price segment best camera phone for Video as well as photo. This mobile not for the selfie lover due lack of beautification option.\nDisplay :- LCD display not justify its price. Quality not upto the mark. Light yellowish tint observed on display even after colour correction.\nBattery :- Battery back up good, It last full day.\nProfessor :- No doubt about Iphone processor. It is best A13 bionic chip better than SD 865.\nOS:- Little bit difficult to unders...\nREAD MORE',
 'Was scared to purchase this online but it was as it is, working really well and even comes with warranty. Authentic one and looks super sleek and nice',
 'Has some limitations as compared to android but it is stable and is overall a balanced package. I liked it. Thanks to seller, received a genuine product.',
 'Overalll a good phone i am a regular android need a chnge so switched over to iphone,not much user friendly but quality wise the best phone u can get.camera looks awesome in daylight night mode quite not gud compared to other phones at this price range.but overall a better phone to buy .the finishing u can never get in android .',
 "Don't know if it's only with my unit or every iPhone 11 is like this... I really didn't enjoy the battery backup.. like I just played cod for barely 1.5 hour and the battery went from 79% to 22%.. otherwise the phone is doing great.",
 "1 week of use I must say this is the best although it could be better if they provided Earpods too as an Android user I didn't have one and have to bought extra. Better buy at offers and sales it would be good for budget."]

In [198]:
import pandas as pd
IphoneDf6=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf6

  Rating   Review summary                                        Full review
0      5          Awesome  The best phone ever iphones no one can match a...
1      4  Worth the money  Good product ,\nBut it’s somehow overpriced be...
2      4  Worth the money  apple is a good product. Camera is good. batte...
3      3             Nice  Very bad experience with iPhone phone getting ...
4      4  Value-for-money  Reviewing after 10 days\nCamera:- In this pric...
5      5        Must buy!  Was scared to purchase this online but it was ...
6      5        Just wow!  Has some limitations as compared to android bu...
7      4     Nice product  Overalll a good phone i am a regular android n...
8      3             Good  Don't know if it's only with my unit or every ...
9      4       Delightful  1 week of use I must say this is the best alth...

In [199]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [200]:
Next_Button.click()

In [201]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [202]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['5', '5', '5', '5', '5', '5', '5', '5', '5', '5']

In [203]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [204]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Fabulous!',
 'Just wow!',
 'Highly recommended',
 'Best in the market!',
 'Best in the market!',
 'Awesome',
 'Terrific',
 'Simply awesome',
 'Best in the market!',
 'Worth every penny']

In [205]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [206]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['Simply wow the camera, battery backup, gaming performance, display quality and most of the value for money.... I would recommend this phone to any one who would like to move to the iPhone world. ✌️',
 'The phone is really super trust me\nI used apple since iphone 4s and i could say their product is really fantastic beside you can choose note 10 also but for IOS lover iphone 11 will be better,".',
 'upgraded from iPhone 7 and was introduced to a great performance right out of the box .Worth every penny spend on the premium phone . Great camera especially the night mode',
 'Wow wonderful gift for the special day from special one. And obvious that Apple phone is always be a wonderful mobile. Looks stunning. Falling in love with its colour and features',
 'Great phone, using from last 4 months. No issues till now, good battery backup for 1 day with good usage. Loving this upgrade from iPhone 7, worth the package.',
 'So good look comfortable iPhone 11 I am so very happy my life first time iPhone used camera is 👌 sound quality is clear sounds',
 'Simply Awesome\n\nI have upgraded from iPhone 7 to iPhone 11.\n\n3110 mah Battery is good. I am not a heavy gamer. For official purpose, this is better than 12 mini.\n\nTotally impressed with battery performance.',
 "Incredible phone with a excellent battery and a better experience.\nThose who are concerned about its screen quality.Trust me this is one of the best IPS panal.\nPreviously I used OnePlus 5t which had a full hd AMOLED display,but I didn't notice a huge difference.\nIf a get a fabulous deal then just go for it.",
 'Very Good Product Value For Money Really 😍',
 'PUBG REVIEW\n\nI bought this device for pubg,to play custom tournaments,and earn money..A13 chip is amazing..no lag in customs matches on mobile network..i play on airtel net.sim network..80-90 ms...\n\nOne thing is battery consumption is 15% per match..xr takes 10% per match..so i hope apple fix this..\n\nSometime during matches it heats a little..then cool down automatic..so heating issue is not a problem..\n\nTouch response is way better than android lcd..\n\nFor gaming it is really beast..but if yo...\nREAD MORE']

In [207]:
import pandas as pd
IphoneDf7=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf7

,Rating,Review summary,Full review
0,5,Fabulous!,"Simply wow the camera, battery backup, gaming ..."
1,5,Just wow!,The phone is really super trust me\nI used app...
2,5,Highly recommended,upgraded from iPhone 7 and was introduced to a...
3,5,Best in the market!,Wow wonderful gift for the special day from sp...
4,5,Best in the market!,"Great phone, using from last 4 months. No issu..."
5,5,Awesome,So good look comfortable iPhone 11 I am so ver...
6,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
7,5,Simply awesome,Incredible phone with a excellent battery and ...
8,5,Best in the market!,Very Good Product Value For Money Really 😍
9,5,Worth every penny,"PUBG REVIEW\n\nI bought this device for pubg,t..."

In [208]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [209]:

Next_Button.click()

In [210]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [211]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['3', '4', '5', '5', '5', '5', '5', '5', '4', '5']

In [212]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [213]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Good',
 'Worth the money',
 'Perfect product!',
 'Best in the market!',
 'Brilliant',
 'Terrific purchase',
 'Wonderful',
 'Awesome',
 'Wonderful',
 'Fabulous!']

In [214]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [215]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['only the name worth it with d price.',
 'Battery heats every once in a while. Also, while Apple claims that the battery lasts 1 hour more than iphone XR, I personally have tried testing and the hard fact is that it doesnt. Phone’s performance and camera is great.\n\nJust that battery life js not very great. Also, no fast charger comes in the box. Charging the phone takes more than 2.5 hours.',
 'V Good all',
 'first iphone from android.\nwhat can I say, iphone 11 says it all.\nearlier I used to abuse iphone users by saying show off, but after using it .. it’s completely worth it..\np.s: there is still little pain in lower abdomen 😜',
 'Awesome camera❤️ and gud battery backup',
 'Awesome Thanks Flipkart',
 'loved it',
 'Everything is accept the charging Speed is fantastic... bought it for 58k',
 'camera is very good.',
 'Very good']

In [216]:
import pandas as pd
IphoneDf8=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf8

,Rating,Review summary,Full review
0,3,Good,only the name worth it with d price.
1,4,Worth the money,"Battery heats every once in a while. Also, whi..."
2,5,Perfect product!,V Good all
3,5,Best in the market!,"first iphone from android.\nwhat can I say, ip..."
4,5,Brilliant,Awesome camera❤️ and gud battery backup
5,5,Terrific purchase,Awesome Thanks Flipkart
6,5,Wonderful,loved it
7,5,Awesome,Everything is accept the charging Speed is fan...
8,4,Wonderful,camera is very good.
9,5,Fabulous!,Very good

In [217]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [218]:
Next_Button.click()

In [219]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [220]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['5', '5', '5', '5', '5', '5', '5', '5', '5', '4']

In [221]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [222]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Fabulous!',
 'Terrific purchase',
 'Worth every penny',
 'Excellent',
 'NOICE',
 'Mind-blowing purchase',
 'Wonderful',
 'Classy product',
 'Best in the market!',
 'Really Nice']

In [223]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [224]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['Just awesome. No comparison with other phones. Night mode is perfect, Battery backup is perfect. Upgrade from X to 11.',
 'No word to say ..simply Awesome. Love it😘😘😘😘',
 'Just amazing..battery is so powerful...camera is crystal clear..i loved iphone',
 'Whoever has my kidney, May God Bless You!!!',
 'Love this phone but heating issue now i use it to heat my roti\n\nJust loving the heat coming from the phone\nits very useful in winter\nxD Noice',
 'Classy',
 'Awesome camera.',
 "Really it's a premium mobile.",
 'Jus one word “Awesome”',
 "With the iPhone 11, that's even more true than before. It's still the people's iPhone. It has faster performance, an ultra wide camera, night mode, an hour longer battery life,"]

In [225]:
import pandas as pd
IphoneDf9=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf9

,Rating,Review summary,Full review
0,5,Fabulous!,Just awesome. No comparison with other phones....
1,5,Terrific purchase,No word to say ..simply Awesome. Love it😘😘😘😘
2,5,Worth every penny,Just amazing..battery is so powerful...camera ...
3,5,Excellent,"Whoever has my kidney, May God Bless You!!!"
4,5,NOICE,Love this phone but heating issue now i use it...
5,5,Mind-blowing purchase,Classy
6,5,Wonderful,Awesome camera.
7,5,Classy product,Really it's a premium mobile.
8,5,Best in the market!,Jus one word “Awesome”
9,4,Really Nice,"With the iPhone 11, that's even more true than..."

In [226]:
Next_Button=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
Next_Button

In [227]:
 Next_Button.click()

In [228]:
IphoneRating = driver.find_elements_by_xpath('//div[@class="_3LWZlK _1BLPMq"]')
len(IphoneRating)

10

In [229]:
IphoneRatings=[]
for i in IphoneRating:
     IphoneRatings.append(i.text)

IphoneRatings

['5', '5', '5', '5', '5', '5', '5', '3', '5', '5']

In [230]:
Summary = driver.find_elements_by_xpath('//p[@class="_2-N8zT"]')
len(Summary)

10

In [231]:
IphoneSummary=[]
for i in Summary:
     IphoneSummary.append(i.text)

IphoneSummary

['Must buy!',
 'Classy product',
 'Highly recommended',
 'Highly recommended',
 'Perfect product!',
 'Mind-blowing purchase',
 'Highly recommended',
 'Nice',
 'Simply awesome',
 'Excellent']

In [232]:
FullSummary = driver.find_elements_by_xpath('//div[@class="t-ZTKy"]')
len(FullSummary)

10

In [233]:
IphoneFullSummary=[]
for i in FullSummary:
     IphoneFullSummary.append(i.text)
        
IphoneFullSummary

['2nd picture describes its night mode with out using flash light the place was totally dark',
 'Superb',
 'Very nice',
 'Got if for 43000/- I Flipkart. In market it was 49000/-. Thanks Flipkart.',
 'Original product for apple and security seal pack for flipcart but some item missing fir apple head phone and charger I Requested apple please add Headphones and charger',
 'Loved it ❤️!!!',
 'Power packed performance. Great cameras. Top class phone.',
 'NICE, Could have been better if Charger & earphones had also been bundled as there as many 1st time users who migrate to iPhone from Android.\nCharger socket is a must.',
 'Now word it’s just osm',
 'Iphone 11 proforming is Exelent..']

In [234]:
import pandas as pd
IphoneDf10=pd.DataFrame({"Rating" :IphoneRatings,"Review summary":IphoneSummary ,"Full review":IphoneFullSummary})
IphoneDf10

,Rating,Review summary,Full review
0,5,Must buy!,2nd picture describes its night mode with out ...
1,5,Classy product,Superb
2,5,Highly recommended,Very nice
3,5,Highly recommended,Got if for 43000/- I Flipkart. In market it wa...
4,5,Perfect product!,Original product for apple and security seal p...
5,5,Mind-blowing purchase,Loved it ❤️!!!
6,5,Highly recommended,Power packed performance. Great cameras. Top c...
7,3,Nice,"NICE, Could have been better if Charger & earp..."
8,5,Simply awesome,Now word it’s just osm
9,5,Excellent,Iphone 11 proforming is Exelent..

In [238]:
IphoneDfFinal=pd.concat([IphoneDf1,IphoneDf2,IphoneDf3,IphoneDf4,IphoneDf5,IphoneDf6,IphoneDf7,IphoneDf8,IphoneDf9,IphoneDf10])
IphoneDfFinal

,Rating,Review summary,Full review
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
5,5,Mind-blowing purchase,Loved it ❤️!!!
6,5,Highly recommended,Power packed performance. Great cameras. Top c...
7,3,Nice,"NICE, Could have been better if Charger & earp..."
8,5,Simply awesome,Now word it’s just osm
9,5,Excellent,Iphone 11 proforming is Exelent..

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.

In [378]:
driver = webdriver.Chrome('chromedriver.exe')

In [379]:
url = 'https://www.flipkart.com/'
driver.get(url)

In [380]:
search_Product=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search_Product

In [381]:
search_Product.send_keys("sneakers")

In [394]:
BrandName = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(BrandName)

40

In [395]:
Brand=[]
for i in BrandName[0:29]:
     Brand.append(i.text)
        
Brand[0:36]

['RapidBox',
 'Jimnastic shoes',
 'Kzaara',
 'luxury fashion',
 'Chevit',
 'URBANBOX',
 'BRUTON',
 'FLYING MACHINE',
 'KWIK FIT',
 'World Wear Footwear',
 'Kraasa',
 'CLYMB',
 'BRUTON',
 'corsac',
 'Shoes Bank',
 'HRX by Hrithik Roshan',
 'SWIGGY',
 'Elevarse',
 'D-SNEAKERZ',
 'FLYING MACHINE',
 'World Wear Footwear',
 'BRUTON',
 'BRUTON',
 'RapidBox',
 'CAMPUS',
 'CLYMB',
 'Labbin',
 'LIFEBIA',
 'Rzisbo']

In [396]:
ProductD = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(ProductD)

30

In [397]:
Discription=[]
for i in ProductD[0:29]:
     Discription.append(i.text)
        
Discription[0:36]

['Sneakers For Men',
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Super Stylish & Trendy Combo Pack of 02 Pairs Sneakers ...',
 'Modern Trendy Sneakers Shoes Sneakers For Men',
 'MARWICK Sneakers For Men',
 'Kwik FIT casual sneaker shoes and partywear shoes Casua...',
 '5011-Latest Collection Stylish Casual Loafer Sneakers S...',
 'Series 7 Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 "White Sneaker For Men's/Boy's Sneakers For Men",
 'Men White Solid Sneakers Sneakers For Men',
 'casual sneakers shoes For Mens Multicolor Combo(MR)-179...',
 'Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 4 Casual Shoes Loafer Shoes Sneakers For ...',
 'Sneaker Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 "white Casual shoes,Sneakers for men's Sneakers For Men",
 'Luxury Fashionable casual sneaker shoes Sneakers For Me...',
 'Sneakers For Men',
 'Lattest Sneakers Shoe Sneakers For Men',
 'Casual Sneakrs For Men Sneakers For Men',
 'casual sneaker shoes for men kardam&sons Sneakers For M...']

In [398]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(ProductPrice)

#_30jeq3

40

In [399]:
Price=[]
for i in ProductPrice[0:29]:
     Price.append(i.text)
        
Price

['₹580',
 '₹347',
 '₹209',
 '₹399',
 '₹469',
 '₹148',
 '₹209',
 '₹1,249',
 '₹349',
 '₹149',
 '₹394',
 '₹199',
 '₹421',
 '₹449',
 '₹348',
 '₹2,349',
 '₹485',
 '₹349',
 '₹249',
 '₹1,145',
 '₹190',
 '₹449',
 '₹249',
 '₹590',
 '₹999',
 '₹534',
 '₹424',
 '₹349',
 '₹499']

In [400]:
ProductDiscount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(ProductDiscount)

40

In [401]:
Discount=[]
for i in ProductDiscount[0:29]:
     Discount.append(i.text)
        
Discount[0:36]

['41% off',
 '76% off',
 '79% off',
 '69% off',
 '70% off',
 '85% off',
 '83% off',
 '50% off',
 '82% off',
 '70% off',
 '60% off',
 '80% off',
 '83% off',
 '70% off',
 '65% off',
 '44% off',
 '51% off',
 '65% off',
 '62% off',
 '50% off',
 '61% off',
 '87% off',
 '80% off',
 '40% off',
 '47% off',
 '64% off',
 '57% off',
 '65% off',
 '50% off']

In [402]:
import pandas as pd
SneakersDF=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":Price,"Discounts":Discount})

SneakersDF

,Brand Name,Discription,Prices,Discounts
0,RapidBox,Sneakers For Men,₹580,41% off
1,Jimnastic shoes,Luxury Fashionable casual sneaker shoes Sneake...,₹347,76% off
2,Kzaara,Super Stylish & Trendy Combo Pack of 02 Pairs ...,₹209,79% off
3,luxury fashion,Modern Trendy Sneakers Shoes Sneakers For Men,₹399,69% off
4,Chevit,MARWICK Sneakers For Men,₹469,70% off
5,URBANBOX,Kwik FIT casual sneaker shoes and partywear sh...,₹148,85% off
6,BRUTON,5011-Latest Collection Stylish Casual Loafer S...,₹209,83% off
7,FLYING MACHINE,Series 7 Sneakers For Men,"₹1,249",50% off
8,KWIK FIT,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹349,82% off
9,World Wear Footwear,Modern & Trendy Collection Combo Pack of 02 Sh...,₹149,70% off
10,Kraasa,White Sneaker For Men's/Boy's Sneakers For Men,₹394,60% off
11,CLYMB,Men White Solid Sneakers Sneakers For Men,₹199,80% off
12,BRUTON,casual sneakers shoes For Mens Multicolor Comb...,₹421,83% off
13,corsac,Sneakers For Men,₹449,70% off
14,Shoes Bank,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,65% off
15,HRX by Hrithik Roshan,Sneakers For Men,"₹2,349",44% off
16,SWIGGY,Sneakers For Men,₹485,51% off
17,Elevarse,Combo Pack Of 4 Casual Shoes Loafer Shoes Snea...,₹349,65% off
18,D-SNEAKERZ,Sneaker Sneakers For Men,₹249,62% off
19,FLYING MACHINE,Sneakers For Men,"₹1,145",50% off
20,World Wear Footwear,Sneakers For Men,₹190,61% off
21,BRUTON,Sneakers For Men,₹449,87% off
22,BRUTON,Sneakers For Men,₹249,80% off
23,RapidBox,"white Casual shoes,Sneakers for men's Sneakers...",₹590,40% off
24,CAMPUS,Luxury Fashionable casual sneaker shoes Sneake...,₹999,47% off
25,CLYMB,Sneakers For Men,₹534,64% off
26,Labbin,Lattest Sneakers Shoe Sneakers For Men,₹424,57% off
27,LIFEBIA,Casual Sneakrs For Men Sneakers For Men,₹349,65% off
28,Rzisbo,casual sneaker shoes for men kardam&sons Sneak...,₹499,50% off

In [403]:
Next_Button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_Button

In [404]:
Next_Button.click()

In [405]:
BrandName = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(BrandName)

40

In [411]:
Brand=[]
for i in BrandName[0:31]:
     Brand.append(i.text)
        
Brand[0:36]

['World Wear Footwear',
 'aadi',
 'Stefano Rads',
 'HRX by Hrithik Roshan',
 'Kraasa',
 'RapidBox',
 'BRUTON',
 'AMICO',
 'Zorth',
 'Numenzo',
 'D-SNEAKERZ',
 'AMICO',
 'Airland',
 'Echor',
 'Robbie jones',
 'KNIGHT WALKERS',
 'Noztile',
 'Zsyto',
 'PUMA',
 'SHANE Internation',
 'Chevit',
 'CLYMB',
 'Kraasa',
 'HRX by Hrithik Roshan',
 'Ktiz',
 'BAUCHHAAR',
 'Magnolia',
 'Chevit',
 'BIRDE',
 'T-ROCK',
 'ASTEROID']

In [412]:
ProductD = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(ProductD)

32

In [413]:
Discription=[]
for i in ProductD[0:31]:
     Discription.append(i.text)
        
Discription[0:36]

['Men 5014 Latest Collection Stylish Casual Sports Loafer...',
 'Sneakers For Men',
 'Men White Printed Sneakers Sneakers For Men',
 'Shark-41 Sneakers For Men',
 'Combo Pack Of 2 Latest Stylish Casual Shoes for Men Lac...',
 'Sneakers For Men',
 'Sneakers For Men',
 '411 Casual Sneakers For Men',
 "Casual , Partywear Sneakers Shoes For Men's And Boys Wh...",
 'Sneakers For Men',
 'sneaker men red 1258 - 6 Sneakers For Men',
 "Men's Sneakers Fashion Lightweight Running Shoes Tennis...",
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Rigel Sneakers For Men',
 "Perfect Sports Shoes for Men's Running ,Cycling & Trekk...",
 'Shark-41 Sneakers For Men',
 'Men Black Urban Street Athleisure Shoes Sneakers For Me...',
 'Sneakers For Men',
 'sports shoes for men | Latest Stylish Casual sneakers f...',
 'Sneakers For Men',
 'Sports Running Shoes Sneakers For Men',
 'Stylish White Casual Sneakers shoes Men and Boys Sneake...',
 'Stylish Comfortable Lightweight, Breathable Casual Shoe...',
 'Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'New Fashion Outdoor Trendy Lightweight Casual,Canvas St...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men']

In [414]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(ProductPrice)

40

In [415]:
Price=[]
for i in ProductPrice[0:31]:
     Price.append(i.text)
        
Price

['₹209',
 '₹269',
 '₹190',
 '₹2,049',
 '₹394',
 '₹630',
 '₹449',
 '₹474',
 '₹397',
 '₹424',
 '₹334',
 '₹449',
 '₹148',
 '₹424',
 '₹424',
 '₹598',
 '₹349',
 '₹261',
 '₹1,377',
 '₹4,249',
 '₹209',
 '₹199',
 '₹394',
 '₹1,849',
 '₹438',
 '₹349',
 '₹327',
 '₹423',
 '₹249',
 '₹349',
 '₹424']

In [416]:
ProductDiscount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(ProductDiscount)

40

In [417]:
Discount=[]
for i in ProductDiscount[0:31]:
     Discount.append(i.text)
        
Discount[0:36]

['58% off',
 '73% off',
 '72% off',
 '46% off',
 '60% off',
 '36% off',
 '82% off',
 '52% off',
 '60% off',
 '78% off',
 '66% off',
 '70% off',
 '70% off',
 '57% off',
 '57% off',
 '60% off',
 '82% off',
 '79% off',
 '50% off',
 '46% off',
 '73% off',
 '80% off',
 '60% off',
 '47% off',
 '56% off',
 '65% off',
 '67% off',
 '57% off',
 '50% off',
 '65% off',
 '78% off']

In [418]:
import pandas as pd
SneakersDF1=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":Price,"Discounts":Discount})

SneakersDF1

,Brand Name,Discription,Prices,Discounts
0,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹209,58% off
1,aadi,Sneakers For Men,₹269,73% off
2,Stefano Rads,Men White Printed Sneakers Sneakers For Men,₹190,72% off
3,HRX by Hrithik Roshan,Shark-41 Sneakers For Men,"₹2,049",46% off
4,Kraasa,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹394,60% off
5,RapidBox,Sneakers For Men,₹630,36% off
6,BRUTON,Sneakers For Men,₹449,82% off
7,AMICO,411 Casual Sneakers For Men,₹474,52% off
8,Zorth,"Casual , Partywear Sneakers Shoes For Men's An...",₹397,60% off
9,Numenzo,Sneakers For Men,₹424,78% off
10,D-SNEAKERZ,sneaker men red 1258 - 6 Sneakers For Men,₹334,66% off
11,AMICO,Men's Sneakers Fashion Lightweight Running Sho...,₹449,70% off
12,Airland,Sneakers For Men,₹148,70% off
13,Echor,Sneakers For Men,₹424,57% off
14,Robbie jones,Sneakers For Men,₹424,57% off
15,KNIGHT WALKERS,Rigel Sneakers For Men,₹598,60% off
16,Noztile,"Perfect Sports Shoes for Men's Running ,Cyclin...",₹349,82% off
17,Zsyto,Shark-41 Sneakers For Men,₹261,79% off
18,PUMA,Men Black Urban Street Athleisure Shoes Sneake...,"₹1,377",50% off
19,SHANE Internation,Sneakers For Men,"₹4,249",46% off
20,Chevit,sports shoes for men | Latest Stylish Casual s...,₹209,73% off
21,CLYMB,Sneakers For Men,₹199,80% off
22,Kraasa,Sports Running Shoes Sneakers For Men,₹394,60% off
23,HRX by Hrithik Roshan,Stylish White Casual Sneakers shoes Men and Bo...,"₹1,849",47% off
24,Ktiz,"Stylish Comfortable Lightweight, Breathable Ca...",₹438,56% off
25,BAUCHHAAR,Sneakers For Men,₹349,65% off
26,Magnolia,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹327,67% off
27,Chevit,"New Fashion Outdoor Trendy Lightweight Casual,...",₹423,57% off
28,BIRDE,Sneakers For Men,₹249,50% off
29,T-ROCK,Sneakers For Men,₹349,65% off
30,ASTEROID,Sneakers For Men,₹424,78% off

In [419]:
Next_Button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_Button

In [420]:
Next_Button.click()

In [421]:
BrandName = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(BrandName)

40

In [424]:
Brand=[]
for i in BrandName[0:31]:
     Brand.append(i.text)
        
Brand

['Strollin',
 'PUMA',
 'Robbie jones',
 'Style Tone',
 'ASIAN',
 'BRUTON',
 'EZDEZARIO',
 'Noztile',
 'Bond Street By Red Tape',
 'Bond Street By Red Tape',
 'U.S. POLO ASSN.',
 'Cipramo',
 'Strollin',
 'PUMA',
 'JACK & JONES',
 'Nilatin',
 'PUMA',
 'Dizzler',
 'OUTALYFE',
 'BRUTON',
 'K STYLE',
 'Zixer',
 'bacca bucci',
 'SWIGGY',
 'PUMA',
 'PUMA',
 'BRUTON',
 'bluemaker',
 'PUMA',
 'hzisbo',
 'Shoes villa']

In [425]:
Discription = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(Discription)

32

In [426]:
PDiscription=[]
for i in Discription[0:31]:
     PDiscription.append(i.text)
        
PDiscription

['Sneakers For Men',
 'Mirage Sport Remix Sneakers For Men',
 'Sneakers For Men',
 'Skypy-31 Walking Shoes,Training Shoes,Sneakers,Loafers,...',
 'Sneakers For Men',
 'Casual Shoes for Men Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'KENRIDGE Sneakers For Men',
 'Sneakers For Men',
 'Seawalk Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'X-Ray Square Celestial Sneakers For Men',
 'Stylish Party Wear Fashionable Lightweight New arrival ...',
 'Combo Pack Of 3 Latest Casual Shoes Sneakers For Men',
 "Men's Ultraforce Mid-top Athletic-Inspired Retro Fashio...",
 'Casual Shoes , Snekers Shoes,Lace-Up PVC Shoes For Men ...',
 'Dexster Slip On Sneakers For Men',
 'C-Skate Vulc Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'casual for men Sneakers For Men',
 'X-Ray 2 Square Sneakers For Men',
 'Sneakers For Men',
 'Ultralight Latest Collection Sports Running Shoes For M...',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Ferrari X-Ray Speed Sneakers For Men',
 'Stylish Party Wear Fashionable Lightweight New arrival ...']

In [427]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(ProductPrice)

40

In [428]:
Price=[]
for i in ProductPrice[0:31]:
     Price.append(i.text)
        
Price

['₹449',
 '₹3,370',
 '₹424',
 '₹419',
 '₹548',
 '₹229',
 '₹349',
 '₹349',
 '₹999',
 '₹824',
 '₹2,159',
 '₹749',
 '₹399',
 '₹1,549',
 '₹699',
 '₹599',
 '₹2,958',
 '₹445',
 '₹415',
 '₹397',
 '₹349',
 '₹549',
 '₹1,022',
 '₹209',
 '₹1,560',
 '₹2,024',
 '₹374',
 '₹424',
 '₹3,127',
 '₹449',
 '₹449']

In [429]:
ProductDiscount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(ProductDiscount)

40

In [430]:
Discount=[]
for i in ProductDiscount[0:31]:
     Discount.append(i.text)
        
Discount[0:36]

['70% off',
 '62% off',
 '57% off',
 '58% off',
 '31% off',
 '82% off',
 '65% off',
 '82% off',
 '76% off',
 '76% off',
 '36% off',
 '25% off',
 '60% off',
 '61% off',
 '76% off',
 '80% off',
 '63% off',
 '38% off',
 '68% off',
 '86% off',
 '76% off',
 '57% off',
 '59% off',
 '58% off',
 '60% off',
 '55% off',
 '85% off',
 '57% off',
 '55% off',
 '55% off',
 '77% off']

In [431]:
SneakersDF2=pd.DataFrame({"Brand Name" :Brand,"Discription":PDiscription,"Prices":Price,"Discounts":Discount})

SneakersDF2

,Brand Name,Discription,Prices,Discounts
0,Strollin,Sneakers For Men,₹449,70% off
1,PUMA,Mirage Sport Remix Sneakers For Men,"₹3,370",62% off
2,Robbie jones,Sneakers For Men,₹424,57% off
3,Style Tone,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹419,58% off
4,ASIAN,Sneakers For Men,₹548,31% off
5,BRUTON,Casual Shoes for Men Sneakers For Men,₹229,82% off
6,EZDEZARIO,Sneakers For Men,₹349,65% off
7,Noztile,Sneakers For Men,₹349,82% off
8,Bond Street By Red Tape,Sneakers For Men,₹999,76% off
9,Bond Street By Red Tape,KENRIDGE Sneakers For Men,₹824,76% off
10,U.S. POLO ASSN.,Sneakers For Men,"₹2,159",36% off
11,Cipramo,Seawalk Sneakers For Men,₹749,25% off
12,Strollin,Sneakers For Men,₹399,60% off
13,PUMA,Sneakers For Men,"₹1,549",61% off
14,JACK & JONES,X-Ray Square Celestial Sneakers For Men,₹699,76% off
15,Nilatin,Stylish Party Wear Fashionable Lightweight New...,₹599,80% off
16,PUMA,Combo Pack Of 3 Latest Casual Shoes Sneakers F...,"₹2,958",63% off
17,Dizzler,Men's Ultraforce Mid-top Athletic-Inspired Ret...,₹445,38% off
18,OUTALYFE,"Casual Shoes , Snekers Shoes,Lace-Up PVC Shoes...",₹415,68% off
19,BRUTON,Dexster Slip On Sneakers For Men,₹397,86% off
20,K STYLE,C-Skate Vulc Sneakers For Men,₹349,76% off
21,Zixer,Modern & Trendy Collection Combo Pack of 02 Sh...,₹549,57% off
22,bacca bucci,casual for men Sneakers For Men,"₹1,022",59% off
23,SWIGGY,X-Ray 2 Square Sneakers For Men,₹209,58% off
24,PUMA,Sneakers For Men,"₹1,560",60% off
25,PUMA,Ultralight Latest Collection Sports Running Sh...,"₹2,024",55% off
26,BRUTON,Sneakers For Men,₹374,85% off
27,bluemaker,Sneakers For Men,₹424,57% off
28,PUMA,Sneakers For Men,"₹3,127",55% off
29,hzisbo,Ferrari X-Ray Speed Sneakers For Men,₹449,55% off
30,Shoes villa,Stylish Party Wear Fashionable Lightweight New...,₹449,77% off

In [432]:
Next_Button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_Button

In [433]:
Next_Button.click()

In [434]:
BrandName = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(BrandName)

40

In [444]:
Brand=[]
for i in BrandName[0:23]:
     Brand.append(i.text)
        
Brand

['BRUTON',
 'U.S. POLO ASSN.',
 'Zixer',
 'Cipramo',
 'Super Matteress',
 'PUMA',
 'SLAZENGER',
 'OZJI',
 'RapidBox',
 'PUMA',
 'Roadster',
 'FEWROK',
 'STF STRONG',
 'FILA',
 'REEBOK CLASSICS',
 'Cipramo',
 'Cross Finger',
 'MAFLO',
 'PUMA',
 'ASTEROID',
 'Hot & Knot',
 'Roadster',
 'HOCKWOOD']

In [445]:
ProductD = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(ProductD)

24

In [446]:
Discription=[]
for i in ProductD[0:23]:
     Discription.append(i.text)
        
Discription

['Trendy Fashion Sports Combo Pack Of 3 Pairs Outdoor Run...',
 'TREGGER Sneakers For Men',
 'Men High Top Fashion Sneakers/sports/Ankle casual Shoes...',
 'Ferrari Track Racer Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Serve Pro Lite Sneakers For Men',
 'Men Blue Solid Sneakers Sneakers For Men',
 'Sneakers For Men',
 'CL LTHR Sneakers For Men',
 'Quarter block Sneakers For Men',
 'High Top Casual Party Wear Boot Stylish Sneakers For Me...',
 'Roadster Men Coffee Brown Solid Sneakers Sneakers For M...',
 'Stylish & Trendy Shoe For Men Sneakers Sneakers For Men',
 'Ferrari X-Ray Speed Sneakers For Men',
 'SM-162 Sneakers For Men',
 'Casual Sneakers White Shoes For Men Sneakers For Men',
 'Sneakers For Men',
 'Modern & Trendy Collection Combo Pack of 02 Shoes for M...',
 'Men High Top Fashion Sneakers/sports/Ankle casual Shoes...',
 'Stylish Comfortable Lightweight, Breathable Casual Shoe...',
 'Sneakers For Men',
 'Combo Pack Of 2 Casual Sneakers For Men']

In [447]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(ProductPrice)

40

In [448]:
Price=[]
for i in ProductPrice[0:23]:
     Price.append(i.text)
        
Price

['₹431',
 '₹2,529',
 '₹649',
 '₹749',
 '₹149',
 '₹3,329',
 '₹929',
 '₹397',
 '₹630',
 '₹3,042',
 '₹1,314',
 '₹399',
 '₹201',
 '₹997',
 '₹3,068',
 '₹749',
 '₹424',
 '₹549',
 '₹1,769',
 '₹549',
 '₹539',
 '₹1,208',
 '₹699']

In [449]:
ProductDiscount = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(ProductDiscount)

40

In [450]:
Discount=[]
for i in ProductDiscount[0:23]:
     Discount.append(i.text)
        
Discount[0:36]

['85% off',
 '41% off',
 '67% off',
 '25% off',
 '70% off',
 '48% off',
 '66% off',
 '60% off',
 '36% off',
 '32% off',
 '53% off',
 '60% off',
 '79% off',
 '66% off',
 '48% off',
 '25% off',
 '57% off',
 '57% off',
 '49% off',
 '72% off',
 '46% off',
 '59% off',
 '30% off']

In [452]:
SneakersDF3=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":Price,"Discounts":Discount})

SneakersDF3

,Brand Name,Discription,Prices,Discounts
0,BRUTON,Trendy Fashion Sports Combo Pack Of 3 Pairs Ou...,₹431,85% off
1,U.S. POLO ASSN.,TREGGER Sneakers For Men,"₹2,529",41% off
2,Zixer,Men High Top Fashion Sneakers/sports/Ankle cas...,₹649,67% off
3,Cipramo,Ferrari Track Racer Sneakers For Men,₹749,25% off
4,Super Matteress,Sneakers For Men,₹149,70% off
5,PUMA,Sneakers For Men,"₹3,329",48% off
6,SLAZENGER,Serve Pro Lite Sneakers For Men,₹929,66% off
7,OZJI,Men Blue Solid Sneakers Sneakers For Men,₹397,60% off
8,RapidBox,Sneakers For Men,₹630,36% off
9,PUMA,CL LTHR Sneakers For Men,"₹3,042",32% off
10,Roadster,Quarter block Sneakers For Men,"₹1,314",53% off
11,FEWROK,High Top Casual Party Wear Boot Stylish Sneake...,₹399,60% off
12,STF STRONG,Roadster Men Coffee Brown Solid Sneakers Sneak...,₹201,79% off
13,FILA,Stylish & Trendy Shoe For Men Sneakers Sneaker...,₹997,66% off
14,REEBOK CLASSICS,Ferrari X-Ray Speed Sneakers For Men,"₹3,068",48% off
15,Cipramo,SM-162 Sneakers For Men,₹749,25% off
16,Cross Finger,Casual Sneakers White Shoes For Men Sneakers F...,₹424,57% off
17,MAFLO,Sneakers For Men,₹549,57% off
18,PUMA,Modern & Trendy Collection Combo Pack of 02 Sh...,"₹1,769",49% off
19,ASTEROID,Men High Top Fashion Sneakers/sports/Ankle cas...,₹549,72% off
20,Hot & Knot,"Stylish Comfortable Lightweight, Breathable Ca...",₹539,46% off
21,Roadster,Sneakers For Men,"₹1,208",59% off
22,HOCKWOOD,Combo Pack Of 2 Casual Sneakers For Men,₹699,30% off

In [453]:
Next_Button=driver.find_element_by_xpath('/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
Next_Button

In [454]:
Next_Button.click()

In [455]:
BrandName = driver.find_elements_by_xpath('//div[@class="_2WkVRV"]')
len(BrandName)

40

In [456]:
Brand=[]
for i in BrandName[0:23]:
     Brand.append(i.text)
        
Brand[0:36]

['RED TAPE',
 'PUMA',
 'U.S. POLO ASSN.',
 'KNIGHT WALKERS',
 'PROVOGUE',
 'WHITEHUB',
 'HRX by Hrithik Roshan',
 'RapidBox',
 'SPARX',
 'U.S. POLO ASSN.',
 'Jack Diamond',
 'Jimnastic shoes',
 'BRUTON',
 'HIGHLANDER',
 'SneakerVilla',
 'FLYING MACHINE',
 'bacca bucci',
 'Crazyly',
 'RED TAPE',
 'AMICO',
 'bacca bucci',
 'ADIDAS ORIGINALS',
 'LastStep']

In [457]:
ProductD = driver.find_elements_by_xpath('//a[@class="IRpwTa"]')
len(ProductD)

26

In [458]:
Discription=[]
for i in ProductD[0:23]:
     Discription.append(i.text)
        
Discription

['Sneakers For Men',
 'Turino FSL Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Men Grey Woven Design Sneakers Sneakers For Men',
 'SM-439 Sneakers For Men',
 'Sneakers For Men',
 'Combo Pack Of 2 Casual Sneakers For Men',
 'MARWICK Sneakers For Men',
 'Platform Chunky Trainer/Sneakers -BOOM Mid Top Shoes fo...',
 'Sneakers For Men',
 'Comfy Mid-Top Casual Chunky Streetwear Fashion Sneakers...',
 'X_Plr Sneakers For Men',
 'Men White Solid Sneakers Sneakers For Men',
 'Sneakers For Men',
 'Mesh Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'Sneakers For Men',
 'JFWTED CANVAS VULC Sneakers For Men',
 'casual sneakers and shoes For Mens Multicolor Combo(MR)...',
 'JAX SNEAKER Sneakers For Men']

In [459]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="_30jeq3"]')
len(ProductPrice)

40

In [460]:
price=[]
for i in ProductPrice[0:23]:
     price.append(i.text)
        
price[0:36]

['₹1,074',
 '₹2,061',
 '₹2,649',
 '₹598',
 '₹429',
 '₹399',
 '₹2,249',
 '₹580',
 '₹589',
 '₹1,229',
 '₹659',
 '₹347',
 '₹271',
 '₹945',
 '₹529',
 '₹1,249',
 '₹1,111',
 '₹499',
 '₹1,048',
 '₹474',
 '₹1,469',
 '₹2,456',
 '₹449']

In [463]:
ProductDis = driver.find_elements_by_xpath('//div[@class="_3Ay6Sb"]')
len(ProductDis)

40

In [464]:
Discount=[]
for i in ProductDis[0:23]:
     Discount.append(i.text)
        
Discount[0:36]

['76% off',
 '57% off',
 '41% off',
 '60% off',
 '80% off',
 '60% off',
 '46% off',
 '41% off',
 '15% off',
 '69% off',
 '34% off',
 '76% off',
 '86% off',
 '52% off',
 '55% off',
 '50% off',
 '62% off',
 '70% off',
 '75% off',
 '52% off',
 '58% off',
 '67% off',
 '70% off']

In [467]:
SneakersDF4=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":price,"Discounts":Discount})

SneakersDF4

,Brand Name,Discription,Prices,Discounts
0,RED TAPE,Sneakers For Men,"₹1,074",76% off
1,PUMA,Turino FSL Sneakers For Men,"₹2,061",57% off
2,U.S. POLO ASSN.,Sneakers For Men,"₹2,649",41% off
3,KNIGHT WALKERS,Sneakers For Men,₹598,60% off
4,PROVOGUE,Sneakers For Men,₹429,80% off
5,WHITEHUB,Men Grey Woven Design Sneakers Sneakers For Men,₹399,60% off
6,HRX by Hrithik Roshan,SM-439 Sneakers For Men,"₹2,249",46% off
7,RapidBox,Sneakers For Men,₹580,41% off
8,SPARX,Combo Pack Of 2 Casual Sneakers For Men,₹589,15% off
9,U.S. POLO ASSN.,MARWICK Sneakers For Men,"₹1,229",69% off
10,Jack Diamond,Platform Chunky Trainer/Sneakers -BOOM Mid Top...,₹659,34% off
11,Jimnastic shoes,Sneakers For Men,₹347,76% off
12,BRUTON,Comfy Mid-Top Casual Chunky Streetwear Fashion...,₹271,86% off
13,HIGHLANDER,X_Plr Sneakers For Men,₹945,52% off
14,SneakerVilla,Men White Solid Sneakers Sneakers For Men,₹529,55% off
15,FLYING MACHINE,Sneakers For Men,"₹1,249",50% off
16,bacca bucci,Mesh Sneakers For Men,"₹1,111",62% off
17,Crazyly,Sneakers For Men,₹499,70% off
18,RED TAPE,Sneakers For Men,"₹1,048",75% off
19,AMICO,Sneakers For Men,₹474,52% off
20,bacca bucci,JFWTED CANVAS VULC Sneakers For Men,"₹1,469",58% off
21,ADIDAS ORIGINALS,casual sneakers and shoes For Mens Multicolor ...,"₹2,456",67% off
22,LastStep,JAX SNEAKER Sneakers For Men,₹449,70% off

In [469]:
SneakersFineDF=pd.concat([SneakersDF1,SneakersDF2,SneakersDF3,SneakersDF4])

SneakersFineDF

,Brand Name,Discription,Prices,Discounts
0,World Wear Footwear,Men 5014 Latest Collection Stylish Casual Spor...,₹209,58% off
1,aadi,Sneakers For Men,₹269,73% off
2,Stefano Rads,Men White Printed Sneakers Sneakers For Men,₹190,72% off
3,HRX by Hrithik Roshan,Shark-41 Sneakers For Men,"₹2,049",46% off
4,Kraasa,Combo Pack Of 2 Latest Stylish Casual Shoes fo...,₹394,60% off
...,...,...,...,...
18,RED TAPE,Sneakers For Men,"₹1,048",75% off
19,AMICO,Sneakers For Men,₹474,52% off
20,bacca bucci,JFWTED CANVAS VULC Sneakers For Men,"₹1,469",58% off
21,ADIDAS ORIGINALS,casual sneakers and shoes For Mens Multicolor ...,"₹2,456",67% off
22,LastStep,JAX SNEAKER Sneakers For Men,₹449,70% off

# Q7: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image

In [10]:
driver = webdriver.Chrome('chromedriver.exe')

In [11]:
url = 'https://www.myntra.com/shoes/'
driver.get(url)

In [12]:
searchBlack=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
searchBlack

In [13]:
searchBlack.click()

In [14]:
searchRange=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div")
searchRange

In [16]:
searchRange.click()

In [17]:
ProductBrand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(ProductBrand)

50

In [19]:
Brand=[]
for i in ProductBrand:
     Brand.append(i.text)
        
Brand

['ALDO',
 'Nike',
 'Puma',
 'ALDO',
 'ALDO',
 'Puma',
 'Puma',
 'Nike',
 'Hush Puppies',
 'Hush Puppies',
 'Hush Puppies',
 'Puma',
 'Puma',
 'Hush Puppies',
 'ASICS',
 'Clarks',
 'Puma',
 'Tommy Hilfiger',
 'Columbia',
 'Hush Puppies',
 'Clarks',
 'J.FONTINI',
 'RARE RABBIT',
 'DAVINCHI',
 'ALDO',
 'TRIBAN By Decathlon',
 'Columbia',
 'Saint G',
 'Clarks',
 'Saint G',
 'Geox',
 'Geox',
 'J.FONTINI',
 'Geox',
 'Hush Puppies',
 'ALDO',
 'DAVINCHI',
 'DAVINCHI',
 'Saint G',
 'Geox',
 'Saint G',
 'Saint G',
 'Cole Haan',
 'Geox',
 'Sole To Soul',
 'Sole To Soul',
 'ROSSO BRUNELLO',
 'Sole To Soul',
 'FILA',
 'Sole To Soul']

In [25]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(ProductPrice)

50

In [26]:
Price=[]
for i in ProductPrice:
     Price.append(i.text)
        
Price

['Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7995',
 'Rs. 9999',
 'Rs. 12999',
 'Rs. 13999',
 'Rs. 12999',
 'Rs. 12999',
 'Rs. 10995',
 'Rs. 7649Rs. 8999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 9099Rs. 12999(30% OFF)',
 'Rs. 7999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7149Rs. 10999(35% OFF)',
 'Rs. 8599',
 'Rs. 12999',
 'Rs. 8499Rs. 9999(15% OFF)',
 'Rs. 7999',
 'Rs. 8990',
 'Rs. 8099Rs. 9999(19% OFF)',
 'Rs. 8990',
 'Rs. 7999',
 'Rs. 8029Rs. 10999(27% OFF)',
 'Rs. 7999',
 'Rs. 7480Rs. 8500(12% OFF)',
 'Rs. 7499',
 'Rs. 10500Rs. 10900(Rs. 400 OFF)',
 'Rs. 9999',
 'Rs. 9990',
 'Rs. 8490',
 'Rs. 9990',
 'Rs. 7999',
 'Rs. 8399Rs. 11999(30% OFF)',
 'Rs. 8990',
 'Rs. 8990',
 'Rs. 9265Rs. 10900(15% OFF)',
 'Rs. 8999',
 'Rs. 8925Rs. 10500(15% OFF)',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 10999',
 'Rs. 7999',
 'Rs. 8900',
 'Rs. 7900',
 'Rs. 8499',
 'Rs. 9500',
 'Rs. 8499',
 'Rs. 8900']

In [28]:
ProductDisc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(ProductDisc)

50

In [30]:
Discription=[]
for i in ProductDisc:
    Discription.append(i.text)
    
Discription

['Men Printed Sneakers',
 'Men Winflo 7 Running Shoes',
 'Electrify Nitro Running Shoes',
 'Men Leather Driving Shoes',
 'Men Woven Design Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Men Air Max Dawn Sneakers',
 'Men Solid Leather Formal Slip-Ons',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Women Eternity NITRO Shoes',
 'Men Training or Gym Shoes',
 'Men Solid Leather Formal Derbys',
 'Women Running Shoes',
 'Men Solid Formal Leather Derbys',
 'Women Velocity NITRO Runners',
 'Men Cleated Leather Sneakers',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Solid Formal Slip-Ons',
 'Men Solid Leather Formal Loafers',
 'Men Solid Loafers',
 'Men Leather Flat Boots',
 'Men Textured Formal Leather Loafers',
 'Wedge Sandals',
 'Unisex Training or Gym Shoes',
 'Women REDMOND V2 TrekkingShoe',
 'Women Leather Block Heels',
 'Men Leather Derbys',
 'Men Mid-Top Chelsea Boots',
 'Men Leather Loafers',
 'Men Striped Leather Sneakers',
 'Men Black Leather Loafers',
 'Men Formal Derbys',
 'Men Perforations Leather Slip-On Sneakers',
 'Leather Slim Heels',
 'Men Formal Leather Slip-Ons',
 'Ustraa black',
 'Leather Block Heeled Boots',
 'Women Leather Pumps',
 'Suede Party High-Top Block Heeled Boots',
 'Striped Suede Flatform Heeled Boots',
 'Women Leather Sneakers',
 'Women Solid Leather Pumps',
 'Suede High-Top Block Heeled Boots',
 'High-Top Block Heeled Boots',
 'Printed PU Kitten Sandals',
 'Suede High-Top Block Heeled Boots',
 'Women Leather Sneakers',
 'High-Top Comfort Heeled Boots']

In [31]:
import pandas as pd
MyntraShoeDF1=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":Price})

MyntraShoeDF1

,Brand Name,Discription,Prices
0,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
1,Nike,Men Winflo 7 Running Shoes,Rs. 7995
2,Puma,Electrify Nitro Running Shoes,Rs. 9999
3,ALDO,Men Leather Driving Shoes,Rs. 12999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
5,Puma,Men Jamming 2.0 Running Shoes,Rs. 12999
6,Puma,Eternity Nitro Running Shoes,Rs. 12999
7,Nike,Men Air Max Dawn Sneakers,Rs. 10995
8,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 7649Rs. 8999(15% OFF)
9,Hush Puppies,Men Solid Leather Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
10,Hush Puppies,Men Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
11,Puma,Women Eternity NITRO Shoes,Rs. 9099Rs. 12999(30% OFF)
12,Puma,Men Training or Gym Shoes,Rs. 7999
13,Hush Puppies,Men Solid Leather Formal Derbys,Rs. 8499Rs. 9999(15% OFF)
14,ASICS,Women Running Shoes,Rs. 7999
15,Clarks,Men Solid Formal Leather Derbys,Rs. 9999
16,Puma,Women Velocity NITRO Runners,Rs. 7149Rs. 10999(35% OFF)
17,Tommy Hilfiger,Men Cleated Leather Sneakers,Rs. 8599
18,Columbia,Men FACET OUTDRY Trekking Shoe,Rs. 12999
19,Hush Puppies,Men Solid Formal Slip-Ons,Rs. 8499Rs. 9999(15% OFF)
20,Clarks,Men Solid Leather Formal Loafers,Rs. 7999
21,J.FONTINI,Men Solid Loafers,Rs. 8990
22,RARE RABBIT,Men Leather Flat Boots,Rs. 8099Rs. 9999(19% OFF)
23,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
24,ALDO,Wedge Sandals,Rs. 7999
25,TRIBAN By Decathlon,Unisex Training or Gym Shoes,Rs. 8029Rs. 10999(27% OFF)
26,Columbia,Women REDMOND V2 TrekkingShoe,Rs. 7999
27,Saint G,Women Leather Block Heels,Rs. 7480Rs. 8500(12% OFF)
28,Clarks,Men Leather Derbys,Rs. 7499
29,Saint G,Men Mid-Top Chelsea Boots,Rs. 10500Rs. 10900(Rs. 400 OFF)
30,Geox,Men Leather Loafers,Rs. 9999
31,Geox,Men Striped Leather Sneakers,Rs. 9990
32,J.FONTINI,Men Black Leather Loafers,Rs. 8490
33,Geox,Men Formal Derbys,Rs. 9990
34,Hush Puppies,Men Perforations Leather Slip-On Sneakers,Rs. 7999
35,ALDO,Leather Slim Heels,Rs. 8399Rs. 11999(30% OFF)
36,DAVINCHI,Men Formal Leather Slip-Ons,Rs. 8990
37,DAVINCHI,Ustraa black,Rs. 8990
38,Saint G,Leather Block Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
39,Geox,Women Leather Pumps,Rs. 8999
40,Saint G,Suede Party High-Top Block Heeled Boots,Rs. 8925Rs. 10500(15% OFF)
41,Saint G,Striped Suede Flatform Heeled Boots,Rs. 8415Rs. 9900(15% OFF)
42,Cole Haan,Women Leather Sneakers,Rs. 10999
43,Geox,Women Solid Leather Pumps,Rs. 7999
44,Sole To Soul,Suede High-Top Block Heeled Boots,Rs. 8900
45,Sole To Soul,High-Top Block Heeled Boots,Rs. 7900
46,ROSSO BRUNELLO,Printed PU Kitten Sandals,Rs. 8499
47,Sole To Soul,Suede High-Top Block Heeled Boots,Rs. 9500
48,FILA,Women Leather Sneakers,Rs. 8499
49,Sole To Soul,High-Top Comfort Heeled Boots,Rs. 8900

In [33]:
searchNext=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
searchNext

In [34]:
searchNext.click()

In [35]:
ProductBrand = driver.find_elements_by_xpath('//h3[@class="product-brand"]')
len(ProductBrand)

50

In [36]:
Brand=[]
for i in ProductBrand:
     Brand.append(i.text)
        
Brand

['Sole To Soul',
 'ROSSO BRUNELLO',
 'Clarks',
 'Clarks',
 'New Balance',
 'Columbia',
 'Columbia',
 'Bugatti',
 'Churchill & Company',
 'Bugatti',
 'Bugatti',
 'Geox',
 'Cole Haan',
 'Cole Haan',
 'J.FONTINI',
 'J.FONTINI',
 'Cobblerz',
 'Saint G',
 'Xtep',
 'Geox',
 'Heel & Buckle London',
 'Cole Haan',
 'Cole Haan',
 'Geox',
 'Cole Haan',
 'Royal Enfield',
 'ASICS',
 'Saint G',
 'J.FONTINI',
 'Saint G',
 'Saint G',
 'Saint G',
 'Sole To Soul',
 'J.FONTINI',
 'Bugatti',
 'Pavers England',
 'Saint G',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'Saint G',
 'Saint G',
 'J.FONTINI',
 'Saint G',
 'J.FONTINI',
 'Saint G',
 'Saint G',
 'DAVINCHI',
 'DAVINCHI',
 'Saint G']

In [37]:
ProductPrice = driver.find_elements_by_xpath('//div[@class="product-price"]')
len(ProductPrice)

50

In [38]:
Price=[]
for i in ProductPrice:
     Price.append(i.text)
        
Price

['Rs. 8900',
 'Rs. 7999',
 'Rs. 7999',
 'Rs. 9999',
 'Rs. 7149Rs. 12999(45% OFF)',
 'Rs. 9999',
 'Rs. 9999',
 'Rs. 8999',
 'Rs. 7999',
 'Rs. 7199Rs. 8999(20% OFF)',
 'Rs. 9499',
 'Rs. 9499',
 'Rs. 12999',
 'Rs. 11999',
 'Rs. 7990',
 'Rs. 8490',
 'Rs. 8999Rs. 9999(Rs. 1000 OFF)',
 'Rs. 7216Rs. 8200(12% OFF)',
 'Rs. 7699',
 'Rs. 10990',
 'Rs. 7990',
 'Rs. 11999',
 'Rs. 12999',
 'Rs. 8999',
 'Rs. 13999',
 'Rs. 8500',
 'Rs. 9999',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 7490',
 'Rs. 12325Rs. 14500(15% OFF)',
 'Rs. 11815Rs. 13900(15% OFF)',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 7690',
 'Rs. 7490',
 'Rs. 7699Rs. 10999(30% OFF)',
 'Rs. 7499',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 14025Rs. 16500(15% OFF)',
 'Rs. 12665Rs. 14900(15% OFF)',
 'Rs. 7990',
 'Rs. 8415Rs. 9900(15% OFF)',
 'Rs. 9265Rs. 10900(15% OFF)',
 'Rs. 9990',
 'Rs. 11815Rs. 13900(15% OFF)',
 'Rs. 8990',
 'Rs. 10625Rs. 12500(15% OFF)',
 'Rs. 11475Rs. 13500(15% OFF)',
 'Rs. 8990',
 'Rs. 9990',
 'Rs. 8925Rs. 10500(15% OFF)']

In [39]:
ProductDisc = driver.find_elements_by_xpath('//h4[@class="product-product"]')
len(ProductDisc)

50

In [40]:
Discription=[]
for i in ProductDisc:
    Discription.append(i.text)
    
Discription

['High-Top Comfort Heeled Boots',
 'PU Block Pumps with Buckles',
 'Leather Slip-On Ballerinas',
 'Women Solid Leather Ballerina',
 'Women Woven Running Shoes',
 'PEAKFREAK XCRSN Trekking Shoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Solid Formal Oxfords',
 'Men Solid Leather Formal Monks',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Leather Driving Shoes',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Formal Derbys',
 'Women Leather Mules',
 'Men Running Shoes',
 'Women Solid Leather Pumps',
 'Men Formal Leather Derby',
 'Women Open Toe Flats',
 'Women Sneakers',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Cabo WP Riding Boots',
 'Men Colourblocked PU Sneakers',
 'Women Leather Heeled Boots',
 'Men Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Women Leather Heeled Boots',
 'Platform Peep Toes with Buckles',
 'Men Leather Formal Loafers',
 'Block Heeled Boots',
 'Men Leather Driving Shoes',
 'Leather Kitten Heeled Boots',
 'Leather High-Top Block Heeled Boots',
 'Leather Wedge Heeled Boots with Buckles',
 'Solid Slip On Shoes',
 'Printed Flatform Heeled Boots with Buckles',
 'Leather Platform Heeled Boots',
 'Men Solid Leather Formal Loafers',
 'Leather Block Heeled Boots with Bows',
 'Men Textured Leather Formal Loafers',
 'Leather High-Top Heeled Boots',
 'Suede High-Top Flatform Heeled Boots',
 'Men Textured Formal Leather Loafers',
 'Men Solid Leather Formal Derbys',
 'Leather Boots with Buckles']

In [41]:
import pandas as pd
MyntraShoeDF2=pd.DataFrame({"Brand Name" :Brand,"Discription":Discription,"Prices":Price})

MyntraShoeDF2

,Brand Name,Discription,Prices
0,Sole To Soul,High-Top Comfort Heeled Boots,Rs. 8900
1,ROSSO BRUNELLO,PU Block Pumps with Buckles,Rs. 7999
2,Clarks,Leather Slip-On Ballerinas,Rs. 7999
3,Clarks,Women Solid Leather Ballerina,Rs. 9999
4,New Balance,Women Woven Running Shoes,Rs. 7149Rs. 12999(45% OFF)
5,Columbia,PEAKFREAK XCRSN Trekking Shoe,Rs. 9999
6,Columbia,PEAKFREAK OUTDRY Trekking Shoe,Rs. 9999
7,Bugatti,Men Solid Formal Oxfords,Rs. 8999
8,Churchill & Company,Men Solid Leather Formal Monks,Rs. 7999
9,Bugatti,Men Walking Shoes,Rs. 7199Rs. 8999(20% OFF)
10,Bugatti,Men Solid Leather Formal Derbys,Rs. 9499
11,Geox,Men Leather Driving Shoes,Rs. 9499
12,Cole Haan,Men Wingtip Oxford Sneakers,Rs. 12999
13,Cole Haan,Men GENERATION ZEROGRAND STITCHLITE,Rs. 11999
14,J.FONTINI,Men Textured Leather Loafers,Rs. 7990
15,J.FONTINI,Men Textured Leather Loafers,Rs. 8490
16,Cobblerz,Men Textured Leather Formal Derbys,Rs. 8999Rs. 9999(Rs. 1000 OFF)
17,Saint G,Women Leather Mules,Rs. 7216Rs. 8200(12% OFF)
18,Xtep,Men Running Shoes,Rs. 7699
19,Geox,Women Solid Leather Pumps,Rs. 10990
20,Heel & Buckle London,Men Formal Leather Derby,Rs. 7990
21,Cole Haan,Women Open Toe Flats,Rs. 11999
22,Cole Haan,Women Sneakers,Rs. 12999
23,Geox,Women Solid Leather Ballerinas,Rs. 8999
24,Cole Haan,Women Solid Leather Ballerinas,Rs. 13999
25,Royal Enfield,Cabo WP Riding Boots,Rs. 8500
26,ASICS,Men Colourblocked PU Sneakers,Rs. 9999
27,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
28,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
29,Saint G,Women Leather Heeled Boots,Rs. 12325Rs. 14500(15% OFF)
30,Saint G,Women Leather Heeled Boots,Rs. 11815Rs. 13900(15% OFF)
31,Saint G,Women Leather Heeled Boots,Rs. 14025Rs. 16500(15% OFF)
32,Sole To Soul,Platform Peep Toes with Buckles,Rs. 7690
33,J.FONTINI,Men Leather Formal Loafers,Rs. 7490
34,Bugatti,Block Heeled Boots,Rs. 7699Rs. 10999(30% OFF)
35,Pavers England,Men Leather Driving Shoes,Rs. 7499
36,Saint G,Leather Kitten Heeled Boots,Rs. 8415Rs. 9900(15% OFF)
37,Saint G,Leather High-Top Block Heeled Boots,Rs. 14025Rs. 16500(15% OFF)
38,Saint G,Leather Wedge Heeled Boots with Buckles,Rs. 12665Rs. 14900(15% OFF)
39,DAVINCHI,Solid Slip On Shoes,Rs. 7990
40,Saint G,Printed Flatform Heeled Boots with Buckles,Rs. 8415Rs. 9900(15% OFF)
41,Saint G,Leather Platform Heeled Boots,Rs. 9265Rs. 10900(15% OFF)
42,J.FONTINI,Men Solid Leather Formal Loafers,Rs. 9990
43,Saint G,Leather Block Heeled Boots with Bows,Rs. 11815Rs. 13900(15% OFF)
44,J.FONTINI,Men Textured Leather Formal Loafers,Rs. 8990
45,Saint G,Leather High-Top Heeled Boots,Rs. 10625Rs. 12500(15% OFF)
46,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
47,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
48,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 9990
49,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)

In [44]:
MyntraShoeDF=pd.concat([MyntraShoeDF1,MyntraShoeDF2])
MyntraShoeDF

,Brand Name,Discription,Prices
0,ALDO,Men Printed Sneakers,Rs. 9099Rs. 12999(30% OFF)
1,Nike,Men Winflo 7 Running Shoes,Rs. 7995
2,Puma,Electrify Nitro Running Shoes,Rs. 9999
3,ALDO,Men Leather Driving Shoes,Rs. 12999
4,ALDO,Men Woven Design Sneakers,Rs. 13999
...,...,...,...
45,Saint G,Leather High-Top Heeled Boots,Rs. 10625Rs. 12500(15% OFF)
46,Saint G,Suede High-Top Flatform Heeled Boots,Rs. 11475Rs. 13500(15% OFF)
47,DAVINCHI,Men Textured Formal Leather Loafers,Rs. 8990
48,DAVINCHI,Men Solid Leather Formal Derbys,Rs. 9990
49,Saint G,Leather Boots with Buckles,Rs. 8925Rs. 10500(15% OFF)

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

In [44]:
driver = webdriver.Chrome('chromedriver.exe')

In [45]:
url = 'https://www.amazon.in/'
driver.get(url)

In [46]:
search_Product=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search_Product

In [47]:
search_Product.send_keys("Laptop")

In [48]:
search_Button=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search_Button

In [49]:
search_Button.click()

In [50]:
Filter_Product=driver.find_element_by_xpath('/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/div/label/i')
Filter_Product

In [51]:
Filter_Product.click()

In [52]:
LaptopName = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(LaptopName)

30

In [53]:
LapName=[]
for i in LaptopName[0:9]:
     LapName.append(i.text)
        
LapName

['Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01E9IN',
 'HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB SSD 14 inch(35.6cm) FHD,Micro-Edge,Anti-Glare,IPS Display/UHD Graphics/ Win 11/ MS Office/ Alexa Built-in/ 1.46kg/ Natural Silver - 14s-dy2506TU',
 'HP 15s 11th Gen Intel Core i3 15.6 inches Laptop (8GB RAM/512GB SSD , HD,Anti-Glare Display/UHD Graphics/Windows 11 Home/Alexa-Built in/MS Office/Natural Silver/1.75 Kg,-15s-dy3501TU)',
 'Dell New Inspiron 3511 Laptop Intel i3-1115G4, 8GB DDR4, 1TB, Win 11 + MSO\'21, Integrated Graphics, 15.6" (39.61 cms) Anti Glare FHD Display, Carbon Black (D560646WIN9B), 1.8Kgs',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01E9IN',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6"(39.62cm) FHD Thin & Light Laptop (8GB/256GB SSD/UHD Graphics/Windows 11/MS Office 2021/Platinum Grey/1.7Kg), 81WB01EFIN',
 'Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01BCIN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/512GB SSD + 32GB Optane/Integrated Graphics/Office 2021/Win 11/Silver/1.6 Kg) X415JA-EK562WS',
 'Dell New Vostro 3401 Laptop Intel i3-1115G4, 8GB DDR4, 256GB SSD, Win 10 + MS Office, Integrated Graphics, 14" (35.56Cms) FHD Display, Dune Color (D552201WIN9DE), 1.59kg']

In [54]:
ProductRating = driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
len(ProductRating)

28

In [55]:
LaptopRating=[]
for i in ProductRating[0:9]:
     LaptopRating.append(i.text)
        
LaptopRating

['297', '1,787', '225', '548', '297', '68', '158', '407', '103']

In [56]:
ProductPrice = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(ProductPrice)

30

In [57]:
Price=[]
for i in ProductPrice[0:9]:
     Price.append(i.text)
        
Price

['36,990',
 '39,990',
 '42,490',
 '36,990',
 '36,990',
 '37,490',
 '36,990',
 '38,990',
 '40,490']

In [58]:
import pandas as pd
LaptopDf1=pd.DataFrame({"Laptop Name()" :LapName,"Rating":LaptopRating,"Laptop Price":Price,"Processor":"“Intel Core i7"})

LaptopDf1

,Laptop Name(),Rating,Laptop Price,Processor
0,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i7
1,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"1,787","39,990",“Intel Core i7
2,HP 15s 11th Gen Intel Core i3 15.6 inches Lapt...,225,"42,490",“Intel Core i7
3,"Dell New Inspiron 3511 Laptop Intel i3-1115G4,...",548,"36,990",“Intel Core i7
4,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i7
5,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,68,"37,490",“Intel Core i7
6,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...,158,"36,990",“Intel Core i7
7,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",407,"38,990",“Intel Core i7
8,"Dell New Vostro 3401 Laptop Intel i3-1115G4, 8...",103,"40,490",“Intel Core i7

In [61]:
LaptopName = driver.find_elements_by_xpath('//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
len(LaptopName)

30

In [62]:
LapName=[]
for i in LaptopName[0:9]:
     LapName.append(i.text)
        
LapName

['Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01E9IN',
 'HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB SSD 14 inch(35.6cm) FHD,Micro-Edge,Anti-Glare,IPS Display/UHD Graphics/ Win 11/ MS Office/ Alexa Built-in/ 1.46kg/ Natural Silver - 14s-dy2506TU',
 'HP 15s 11th Gen Intel Core i3 15.6 inches Laptop (8GB RAM/512GB SSD , HD,Anti-Glare Display/UHD Graphics/Windows 11 Home/Alexa-Built in/MS Office/Natural Silver/1.75 Kg,-15s-dy3501TU)',
 'Dell New Inspiron 3511 Laptop Intel i3-1115G4, 8GB DDR4, 1TB, Win 11 + MSO\'21, Integrated Graphics, 15.6" (39.61 cms) Anti Glare FHD Display, Carbon Black (D560646WIN9B), 1.8Kgs',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01E9IN',
 'Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 15.6"(39.62cm) FHD Thin & Light Laptop (8GB/256GB SSD/UHD Graphics/Windows 11/MS Office 2021/Platinum Grey/1.7Kg), 81WB01EFIN',
 'Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 HD Thin and Light Laptop (8GB/1TB HDD/Windows 11/MS Office 2021/2Yr Warranty/Platinum Grey/1.7Kg), 81WB01BCIN',
 'ASUS VivoBook 14 (2021), 14-inch (35.56 cms) FHD, Intel Core i3-1005G1 10th Gen, Thin and Light Laptop (8GB/512GB SSD + 32GB Optane/Integrated Graphics/Office 2021/Win 11/Silver/1.6 Kg) X415JA-EK562WS',
 'Dell New Vostro 3401 Laptop Intel i3-1115G4, 8GB DDR4, 256GB SSD, Win 10 + MS Office, Integrated Graphics, 14" (35.56Cms) FHD Display, Dune Color (D552201WIN9DE), 1.59kg']

In [63]:
ProductRating = driver.find_elements_by_xpath('//span[@class="a-size-base s-underline-text"]')
len(ProductRating)

28

In [64]:
LaptopRating=[]
for i in ProductRating[0:9]:
     LaptopRating.append(i.text)
        
LaptopRating

['297', '1,787', '225', '548', '297', '68', '158', '407', '103']

In [65]:
ProductPrice = driver.find_elements_by_xpath('//span[@class="a-price-whole"]')
len(ProductPrice)

30

In [66]:
Price=[]
for i in ProductPrice[0:9]:
     Price.append(i.text)
        
Price

['36,990',
 '39,990',
 '42,490',
 '36,990',
 '36,990',
 '37,490',
 '36,990',
 '38,990',
 '40,490']

In [67]:
import pandas as pd
LaptopDf2=pd.DataFrame({"Laptop Name()" :LapName,"Rating":LaptopRating,"Laptop Price":Price,"Processor":"“Intel Core i9"})

LaptopDf2

,Laptop Name(),Rating,Laptop Price,Processor
0,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i9
1,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"1,787","39,990",“Intel Core i9
2,HP 15s 11th Gen Intel Core i3 15.6 inches Lapt...,225,"42,490",“Intel Core i9
3,"Dell New Inspiron 3511 Laptop Intel i3-1115G4,...",548,"36,990",“Intel Core i9
4,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i9
5,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,68,"37,490",“Intel Core i9
6,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...,158,"36,990",“Intel Core i9
7,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",407,"38,990",“Intel Core i9
8,"Dell New Vostro 3401 Laptop Intel i3-1115G4, 8...",103,"40,490",“Intel Core i9

In [69]:
LaptopDfFinal= pd.concat([LaptopDf1,LaptopDf2])

In [70]:
LaptopDfFinal

,Laptop Name(),Rating,Laptop Price,Processor
0,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i7
1,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"1,787","39,990",“Intel Core i7
2,HP 15s 11th Gen Intel Core i3 15.6 inches Lapt...,225,"42,490",“Intel Core i7
3,"Dell New Inspiron 3511 Laptop Intel i3-1115G4,...",548,"36,990",“Intel Core i7
4,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i7
5,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,68,"37,490",“Intel Core i7
6,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...,158,"36,990",“Intel Core i7
7,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",407,"38,990",“Intel Core i7
8,"Dell New Vostro 3401 Laptop Intel i3-1115G4, 8...",103,"40,490",“Intel Core i7
0,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i9
1,HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...,"1,787","39,990",“Intel Core i9
2,HP 15s 11th Gen Intel Core i3 15.6 inches Lapt...,225,"42,490",“Intel Core i9
3,"Dell New Inspiron 3511 Laptop Intel i3-1115G4,...",548,"36,990",“Intel Core i9
4,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,297,"36,990",“Intel Core i9
5,Lenovo IdeaPad Slim 3 10th Gen Intel Core i3 1...,68,"37,490",“Intel Core i9
6,Lenovo IdeaPad 3 10th Gen Intel Core i3 15.6 H...,158,"36,990",“Intel Core i9
7,"ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...",407,"38,990",“Intel Core i9
8,"Dell New Vostro 3401 Laptop Intel i3-1115G4, 8...",103,"40,490",“Intel Core i9

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noidalocation. You have to scrape company name, No. of days ago when job was posted, Rating of the company.

In [36]:
driver = webdriver.Chrome('chromedriver.exe')

In [37]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [38]:
Search_job=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]")
Search_job

In [39]:
Search_job.click()

In [40]:
Search_Designation=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/div/span/input")
Search_Designation

In [41]:
Search_Designation.send_keys("Data Scientist")

In [42]:
Search_click=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div/div/div/button/span")
Search_click

In [43]:
Search_click.click()

In [46]:
Search_city=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]/p")
Search_city

In [47]:
Search_city.click()

In [48]:
Search_city2=driver.find_element_by_xpath(" /html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
Search_city2

In [49]:
Search_city2.send_keys("Noida")

In [50]:
Search_Noida=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label")
Search_Noida

In [51]:
Search_Noida.click()

In [52]:
title_tags = driver.find_elements_by_xpath('//p[@class="company body-medium"]')
len(title_tags)

10

In [53]:
CompanyName=[]
for i in title_tags:
    CompanyName.append(i.text)
    
CompanyName

['NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED',
 'Microsoft India (R and D) Pvt Ltd',
 'HCL Technologies Ltd',
 'Jubilant Foodworks Limited',
 'HCL Technologies',
 'RATEGAIN TRAVEL TECHNOLOGIES LIMITED',
 'Hanu Software Solutions Pvt Ltd',
 'Tavant Technologies India Pvt. Ltd.']

In [54]:
Days = driver.find_elements_by_xpath('//span[@class="body-small-l"]')
len(Days)

20

In [55]:
DaysPosted=[]
for i in Days[0:20:2]:
    DaysPosted.append(i.text)
    
DaysPosted

['10d ago',
 '11d ago',
 '11d ago',
 '22d ago',
 '19d ago',
 '9d ago',
 '26d ago',
 '4d ago',
 '11d ago',
 '1mon ago']

In [56]:
Ratings = driver.find_elements_by_xpath('//span[@class="body-small"]')
len(Ratings)

10

In [57]:
RatingsList=[]
for i in Ratings:
    RatingsList.append(i.text)
    
RatingsList

['3.9', '3.8', '4.2', '4.2', '3.8', '3.9', '3.8', '3.7', '3.7', '4.0']

In [58]:
import pandas as pd
DFJobs=pd.DataFrame({"Company Name" :CompanyName,"No of days company posted":DaysPosted,"Rating of the company":RatingsList})

DFJobs

,Company Name,No of days company posted,Rating of the company
0,NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED,10d ago,3.9
1,HCL Technologies Limited,11d ago,3.8
2,WSP CONSULTANTS INDIA PRIVATE LIMITED,11d ago,4.2
3,Microsoft India (R and D) Pvt Ltd,22d ago,4.2
4,HCL Technologies Ltd,19d ago,3.8
5,Jubilant Foodworks Limited,9d ago,3.9
6,HCL Technologies,26d ago,3.8
7,RATEGAIN TRAVEL TECHNOLOGIES LIMITED,4d ago,3.7
8,Hanu Software Solutions Pvt Ltd,11d ago,3.7
9,Tavant Technologies India Pvt. Ltd.,1mon ago,4.0

# Q10: Write a python program to scrape the salary data for Data Scientist designation.You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary

In [22]:
driver = webdriver.Chrome('chromedriver.exe')

In [23]:
url = 'https://www.ambitionbox.com/'
driver.get(url)

In [24]:
Search_salary=driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]")
Search_salary

In [25]:
Search_salary.click()

In [26]:
Search_desig=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
Search_desig

In [27]:
Search_desig.send_keys("Data Scientist")  tt_text

In [33]:
Search_desig=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]")
Search_desig

In [34]:
Search_desig.click()

In [35]:
Company = driver.find_elements_by_xpath('//div[@class="name"]')
len(Company)

10

In [36]:
CompanyName=[]  
for i in Company:
     CompanyName.append(i.text)
        
CompanyName

['Ab Inbev\nbased on 28 salaries',
 'ZS\nbased on 15 salaries',
 'Optum\nbased on 25 salaries',
 'Fractal Analytics\nbased on 77 salaries',
 'Tiger Analytics\nbased on 33 salaries',
 'UnitedHealth\nbased on 52 salaries',
 'Verizon\nbased on 14 salaries',
 'Ganit Business Solutions\nbased on 13 salaries',
 'Ericsson\nbased on 43 salaries',
 'Deloitte\nbased on 57 salaries']

In [38]:
TotalSalary = driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
len(TotalSalary)

10

In [39]:
Salry=[]  
for i in TotalSalary:
     Salry.append(i.text)
        
Salry

['Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n4 yrs exp',
 'Data Scientist\n . \n3-4 yrs exp',
 'Data Scientist\n . \n2-4 yrs exp']

In [41]:
MinSalary = driver.find_elements_by_xpath('//div[@class="value body-medium"]')
len(MinSalary)

20

In [46]:
MinSal=[]  
for i in MinSalary:
     MinSal.append(i.text)
        
MinSal[0:20:2]

['₹ 15.0L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 9.5L',
 '₹ 8.3L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L',
 '₹ 6.9L']

In [52]:
AvgSalary = driver.find_elements_by_xpath('//p[@class="averageCtc"]')
len(AvgSalary)

10

In [53]:
AvgSal=[]  
for i in AvgSalary:
     AvgSal.append(i.text)
        
AvgSal

['₹ 20.3L',
 '₹ 15.3L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.4L',
 '₹ 13.9L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L',
 '₹ 11.7L']

In [48]:
MaxSal=[]  
for i in MinSalary:
     MaxSal.append(i.text)
        
MaxSal[1:20:2]

['₹ 25.5L',
 '₹ 20.0L',
 '₹ 21.3L',
 '₹ 22.0L',
 '₹ 20.0L',
 '₹ 20.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 24.0L',
 '₹ 23.4L']

In [ ]:
AvgSalary=[]  
for i in MinSalary:
     AvgSalary.append(i.text)
        
MaxSal

In [54]:
import pandas as pd
DataScientistJobs=pd.DataFrame({"Company Name" :CompanyName,"Total Salary":Salry,"Minimum Salary":MinSal[0:20:2],"Maximum Salary" : MaxSal[1:20:2],"Average Salary" : AvgSal})

DataScientistJobs

,Company Name,Total Salary,Minimum Salary,Maximum Salary,Average Salary
0,Ab Inbev\nbased on 28 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 15.0L,₹ 25.5L,₹ 20.3L
1,ZS\nbased on 15 salaries,Data Scientist\n . \n2 yrs exp,₹ 9.5L,₹ 20.0L,₹ 15.3L
2,Optum\nbased on 25 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 11.0L,₹ 21.3L,₹ 15.1L
3,Fractal Analytics\nbased on 77 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 9.5L,₹ 22.0L,₹ 15.1L
4,Tiger Analytics\nbased on 33 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 8.3L,₹ 20.0L,₹ 14.4L
5,UnitedHealth\nbased on 52 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 8.3L,₹ 20.5L,₹ 13.9L
6,Verizon\nbased on 14 salaries,Data Scientist\n . \n4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
7,Ganit Business Solutions\nbased on 13 salaries,Data Scientist\n . \n4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L
8,Ericsson\nbased on 43 salaries,Data Scientist\n . \n3-4 yrs exp,₹ 5.8L,₹ 24.0L,₹ 11.9L
9,Deloitte\nbased on 57 salaries,Data Scientist\n . \n2-4 yrs exp,₹ 6.9L,₹ 23.4L,₹ 11.7L